.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1.3s ease-out;

  @include tablet {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27rem;
    height: 100%;
    white-space: nowrap;
  }

  &__text {
    transform: rotate(-90deg);
    font-weight: 300;
    font-size: 1.8rem;
    color: #141414;
    transition: 1s ease-out;

  }

  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 4.6rem;
      height: 4.6rem;
      background-image: url('./../img/blobs.webp');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__tel {}
}