.blue-block {
  margin-top: 3rem;
  background-color: rgba(48, 127, 226, 0.7);
  padding: 2.4rem;
  padding-left: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 65% 75%, 40% 100%, 0 100%);
  position: relative;

  @include tablet {
    margin-top: 0;
    padding-top: 1.6rem;
    padding-left: 2.2rem;
    padding-right: 0.9rem;
    padding-bottom: 0.9rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 58% 75%, 48% 100%, 0 100%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
    width: 5.4rem;
    height: 4.4rem;
    background-image: url('./../img/white-comma.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
      width: 2.8rem;
      height: 2.5rem;
      top: .7rem;
      left: .9rem;
    }
  }

  &::after {
    transform: rotate(180deg);
    left: unset;
    top: 50%;
    right: 3.5rem;

    @include tablet {
      top: unset;
      bottom: 3.6rem;
      right: 0.5rem;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 2.4rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    span {
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }
}