.eco-items {
  padding: 12rem 10rem;
  &__title {
    margin-bottom: 6rem;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem 6rem;
  }
}

.eco-item {
  display: block;
  &__title {
    margin: 0;
    margin-bottom: 3.4rem;
    font-weight: 600;
    font-size: 3.2rem;
    color: #307fe2;
  }
  &__img {
    height: 40.8rem;
    margin-bottom: 5rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__desc {
    text-align: left;
    color: rgba(20, 20, 20, 0.7);
  }
}
