.news-section {
  height: 100%;
  overflow-y: auto;

  &__title {
    max-width: 105.5rem;
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: 4rem;
  }

  &__container {
    height: 100%;
    padding-right: 37rem;
    padding-left: 20.5rem;
    padding-top: 12rem;

    &:nth-child(3n + 1) {
      background: linear-gradient(180deg, #f4f4f4 0%, #dcecff 100%);
    }

    &:nth-child(3n + 2) {
      padding-top: 18rem;
      background: linear-gradient(180deg, #ddecfe 0%, #f4f4f4 100%);
    }

    &:nth-child(3n + 3) {
      padding-top: 18rem;
      background: linear-gradient(180deg, #f4f4f4 0%, #f4f4f4 100%);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
  }
}


.news-item {
  &__img {
    height: 51.2rem;
    margin-bottom: 4rem;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__date {
    display: block;
    margin-bottom: 1rem;
  }

  &__capture {
    font-weight: 600;
    text-align: left;
  }
}