.news-sing {
  height: 100%;
  background: #f4f4f4;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include tablet {
    padding: 3rem 0 8.5rem;
    background: linear-gradient(
      180deg,
      #fff 0%,
      #dcecff 100%
    );
  }
  &__img {
    height: 48rem;
    @include tablet {
      height: 22rem;
    }
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include tablet {
        margin-bottom: 2rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .container {
    height: 100%;
  }

  &__container {
    padding: 12rem 10rem;
    padding-right: 10.9rem;
    padding-bottom: 7rem;
    position: relative;
    z-index: 2;
    @include tablet {
      padding: 0;
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &:last-child {
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 200%;
        height: 100%;

        background: linear-gradient(
          180deg,
          #f4f4f4 0%,
          #d1e3f9 100%
        );
        @include tablet {
          display: none;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 5.7rem;
    font-weight: 600;
    font-size: 3.2rem;
    color: #141414;

    max-width: 103.4rem;

    @include tablet {
      order: -1;
      max-width: 100%;
      font-size: 1.6rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.2rem;

    &:not(:last-child) {
      margin-bottom: 6rem;
      @include tablet {
        margin-bottom: 3rem;
      }
    }
    @include tablet {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  &__desc {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
    color: #141414;
    line-height: 135%;
    @include tablet {
      text-align: center;
      font-size: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include tablet {
        margin-bottom: 1rem;
      }
    }

    &--date {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__link {
    position: absolute;
    right: -9.5rem;
    top: 50%;
    transform: translateY(-50%);

    width: 18rem;

    display: flex;
    align-items: center;
    gap: 1.7rem;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2rem;
    color: #141414;
    @include tablet {
      width: auto;
      right: 0;
    }
    span:not(.text) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3.2rem;
      height: 3.2rem;
      flex-shrink: 0;
      padding: 1rem;
      background-color: #fff;
      border-radius: 100%;
      @include tablet {
      }
      svg {
        height: 100%;
      }
    }
    span.text {
      display: block;
      line-height: 1;
      @include tablet {
        display: none;
      }
    }
  }

  &__flag {
    clip-path: polygon(
      100% 0,
      80% 50%,
      100% 100%,
      0 100%,
      0 0
    );
    height: 47rem;
    @include tablet {
      height: 23rem;
    }
    &:not(:last-child) {
      margin-bottom: 6rem;
      @include tablet {
        margin-bottom: 1rem;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
