.orbit {
  margin-left: auto;
  width: 62rem;
  aspect-ratio: 1 / 1;
  border: 1px solid #307fe2;
  border-radius: 100%;
  position: relative;

  &__counter {
    position: absolute;
    top: -11.5rem;
    right: -3.6rem;

    font-weight: 600;
    font-size: 20rem;
    color: rgba(48, 127, 226, 0.1);

    pointer-events: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__planet {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
    width: 42.7rem;

    &::after {
      content: "";
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);

      transition: 0.3s ease-out;
    }

    &--active {

      top: -14rem;
      left: -11.4rem;
    }

    &--next {
      transform: scale(0.2);

      bottom: -14rem;
      right: -11.4rem;
    }

    &.hide {
      &::after {
        opacity: 1;
      }
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }


}


.orbit-control {
  display: flex;
  gap: 8rem;

  &__btn {
    width: 2.8rem;
    height: 6rem;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      stroke: #307fe2;
    }

    &--next {
      transform: rotate(180deg);
    }

    &.disable {
      cursor: default;
      pointer-events: none;

      svg {
        stroke: #d9d9d9;
      }
    }
  }
}