.prod-items {
  height: 100%;
  background-color: #fff;
  @include tablet {
    padding: 3rem 0;
    padding-bottom: 8.5rem;

    background: #f6f6f6;
  }
  .container {
    height: 100%;
  }

  &__container {
    height: 100%;
    display: flex;

    @include tablet {
      display: none;
    }

    &--mob {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  &__slider {
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
  }

  .swiper-wrapper,
  &__slide {
    height: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__left {
    max-width: 100%;
    flex-basis: 93rem;
    min-width: 0;
    flex-shrink: 0;
    border-right: 1px solid rgba(#141414, 0.1);
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
  }

  &__wrap {
    position: relative;
    flex-grow: 1;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__arr {
    position: relative;
    z-index: 10;

    height: 100%;

    .arr-container {
      width: 100%;
      height: 100%;
      overflow: visible;

      filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.1));

      .mask-arr {
        position: relative;
        z-index: 10;
      }

      image {
        width: 100%;
        height: 100%;
        object-position: bottom;
        transition: 0.5s ease-out;
      }
    }

    .anim-img {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 0.3s ease-out;
      height: 100%;
      overflow: visible;
      width: 100%;

      image {
        width: 100%;
        height: 100%;
        object-position: bottom;
      }
    }
  }

  &__right {
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right: 9rem;
    padding-bottom: 17rem;
  }

  &__control {
    margin-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  &__btn {
    width: 1.8rem;
    height: 4rem;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      stroke: #307fe2;
    }

    &.swiper-button-disabled {
      svg {
        stroke: #dbdbdb;
      }
    }
  }
}

.prod-info {
  text-align: center;
  height: 100%;

  @include tablet {
    padding: 1rem 0.5rem;
    background: #fff;
  }

  .swiper,
  .swiper-wrapper {
    height: 100%;
  }
  .swiper-slide {
    height: auto;
    width: 100%;
    box-sizing: border-box;

    position: relative;
  }
  &__slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    &::after {
      content: attr(data-count);
      display: block;
      margin-top: auto;
      font-weight: 700;
      font-size: 22rem;
      line-height: 1;
      letter-spacing: -0.03em;
      color: transparent;
      background-image: url('./../img/blue-bg.webp');
      background-size: 200%;
      background-clip: text;
      background-position: center;
      opacity: 0.5;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 3rem;
    color: #307fe2;

    @include tablet {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  &__img {
    @include tablet {
      height: 12rem;
      margin-bottom: -1rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    margin-bottom: 3rem;
    font-weight: 300;

    span,
    strong {
      font-weight: 600;
    }
  }
}

.prod-pagination {
  margin-right: -3rem;
  margin-left: -2rem;

  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: none;
    margin: 0 !important;

    &:not(:last-child) {
      margin-bottom: 1.8rem !important;
    }

    &.swiper-pagination-bullet-active {
      font-weight: 600;
      opacity: 1;

      &::before {
        width: 7.5rem;
      }
    }
  }
}

.prod-nav {
  right: 1.2rem;
}
