.r-text {
  height: 100%;
  max-height: 100%;
  background: linear-gradient(180deg, #f4f4f4 0%, #ddecff 100%);
  padding: 10rem 0;
  padding-top: 12rem;
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  scrollbar-width: none;

  &__title {
    margin-bottom: 6rem;
    color: #141414;
    font-size: 3.2rem;

    max-width: 72rem;
  }

  &__subtitle {
    text-align: left;
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &__arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 22rem;
    height: 100vh;
    width: 65rem;
    overflow: hidden;
    background-image: url('./../img/research/for-arrow.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.3);
    }
  }

  &__container {
    display: flex;
    padding: 0 10rem;

  }

  &__left {}

  &__wrapper {
    overflow: hidden;
  }

  &__text,
  &__blue {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__flex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
    justify-content: space-between;

    .r-text__col {
      &:nth-child(odd) {
        grid-column: 3 span;
      }

      &:nth-child(even) {
        grid-column: 2 span;
      }
    }
  }

  &__content {
    width: 61rem;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }

    &--long {
      width: 79rem;
    }
  }

  &__list {
    margin: 0;
    padding-left: 2rem;
    color: rgba(#141414, 0.8);

    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__desc {
    text-align: left;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 144%;
    color: rgba(20, 20, 20, 0.7);
  }

  &__items {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    &--wide {
      gap: 2.5rem 5rem;
    }

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }

  &__item {

    &:nth-child(3n + 3) {
      grid-column: 6 span;
    }
  }

  &__capture {
    margin-bottom: 3rem;

    &--bold {
      font-weight: 500;
    }
  }

  &__col {
    p {
      text-align: left;
      font-weight: 500;
      margin-bottom: 3rem;
    }
  }

  &--center {
    .container {
      height: 100%;
    }

    .r-text__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.r-item {
  box-shadow: 0 -4px 15px 0 rgba(48, 127, 226, 0.15);
  background: #fff;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  grid-column: 3 span;

  &::after {
    content: attr(data-fig);
    position: absolute;
    top: 0.7rem;
    right: 1.6rem;
    font-weight: 400;
    font-size: 2.4rem;
    color: #dcecff;
  }



  p {
    font-weight: 300;
    text-align: center;
    line-height: 140%;
    font-size: 1.6rem;
  }

  &--gray {
    box-shadow: 0 -4px 15px 0 rgba(48, 127, 226, 0.15);
    background: rgba(255, 255, 255, 0.5);
  }

  &--once {

    text-align: center;
    min-height: 15rem;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        left: calc(100% + 2.5rem);
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1.5rem;
        background-image: url('./../img/arr-blue.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}