.service {
  --offset-top: 8vh;
  height: 100%;
  padding-top: var(--offset-top);
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;

  @include tablet {
    background-color: #fff;
    --offset-top: 3rem;
  }

  &__title {
    margin-bottom: 3.5rem;
  }

  .container {
    position: relative;
    z-index: 200;
    height: 100%;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

  }

  &__wrapper {
    --pos: 100%;
    position: absolute;
    left: 0;
    top: calc(-1 * var(--offset-top));
    z-index: 10;
    width: 100vw;
    height: 100vh;
    mask-image: url(./../img/arr.webp);
    mask-size: 90rem 100%;
    mask-position: var(--pos) 100%;
    mask-repeat: no-repeat;
    transition: linear;

    background-image: url('./../img/cover.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
    background-color: #141414;

    .service__wrap {
      padding-top: var(--offset-top);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;

      @include tablet {
        height: auto;
        width: auto;
      }

      &--garant {
        padding-bottom: 12rem;
      }
    }

    p,
    h2,
    span {
      color: #fff;
    }

    @include tablet {
      display: none;
      height: auto;
    }
  }

  &__arrow {
    position: absolute;
    z-index: -1;
    left: 20%;
    top: 0;
    height: 100vh;
    width: 90rem;
    // width: 115rem;
    // mask-image: url('./../img/arr.svg');
    // mask-size: 100% 100%;
    // mask-repeat: no-repeat;
    // mask-position: right;
    transition: linear .1s;
    mix-blend-mode: difference;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
    background-color: #141414;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;

  &:nth-child(4) {
    grid-column: 3 span;

    @include tablet {
      grid-column: 1 span;
    }
  }

  &:last-child {
    @include tablet {
      grid-column: 2 span;
    }
  }

  @include tablet {
    padding: 1rem 0.9rem;

    &:nth-child(3n + 1) {
      background: #f4f4f4;
    }

    &:nth-child(3n + 2) {
      background: #dcecff;
    }

    &:nth-child(3n + 3) {
      background: #dbe1e9;
    }

  }

  &:last-child {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 120vh;
      border: 1px solid rgba(#141414, 0.1);

      @include tablet {
        display: none;
      }
    }
  }

  &:nth-last-child(2) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 120vh;
      border: 1px solid rgba(#141414, 0.1);

      @include tablet {
        display: none;
      }
    }
  }

  &__link {
    display: none;

    @include tablet {
      display: inline-flex;
    }
  }

  &__text {
    max-width: 32.5rem;
    text-align: center;
    // position: absolute;
    color: #141414;
    z-index: 10;
    line-height: 135%;

    @include tablet {
      font-size: 1rem;
      color: rgba(20, 20, 20, 0.7);
      margin-bottom: 2.4rem;
      max-width: 100%;
    }
  }

  &__fig {
    display: block;
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 12rem;
    line-height: 50%;
    letter-spacing: -0.03em;
    color: rgba(48, 127, 226, 0.1);

    @include tablet {
      margin-bottom: 1rem;
      line-height: 1;
      font-size: 1.2rem;
      color: #307fe2;
    }
  }
}