.sp-block-kind {
  height: 100%;
  background: linear-gradient(
    180deg,
    #dcecff 0%,
    #fff 100%
  );

  @include tablet {
    background: linear-gradient(
      180deg,
      #f3f3f4 0%,
      #f4f4f4 100%
    );
  }

  .container {
    min-height: 100%;
  }

  &__container {
    min-height: 100%;

    display: flex;
    position: relative;

    @include tablet {
      flex-direction: column;
    }
  }
  &__btn {
    padding: 1.8rem 3rem;
    margin: 0 auto;
  }
  &__arr {
    position: fixed;
    left: 60rem;
    top: 0;
    bottom: 0;
    // height: 100%;

    @include tablet {
      display: none;
    }

    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__left {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 19.3rem;
    padding-bottom: 19.3rem;
    padding-left: 9.5rem;
    flex-basis: 93rem;
    flex-shrink: 0;
    border-right: 1px solid rgba(#141414, 0.1);
    gap: 6rem;

    @include tablet {
      padding: 0;
      border: none;
      flex: auto;
      gap: 3rem;
    }
  }

  &__right {
    position: relative;
    z-index: 5;
    flex-grow: 1;
    padding-top: 19.3rem;
    padding-bottom: 19.3rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
      padding: 0;
      display: none;
    }
  }

  &__capture {
    font-weight: 400;
    margin-bottom: 3rem;
  }

  &__content {
    color: rgba(20, 20, 20, 0.7);
    max-width: 51rem;

    @include tablet {
      max-width: 100%;
      text-align: center;
      font-size: 1rem;
    }

    &--short {
      max-width: 36.2rem;

      @include tablet {
        margin: 0 auto;
        max-width: 26rem;
      }
    }

    ul,
    ol {
      margin: 0;
      padding: 0;
      padding-left: 2.4rem;
      text-align: left;

      @include tablet {
        max-width: 19rem;
        margin: 0 auto;
      }
    }

    ol {
      li {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 3rem;
    max-width: 48rem;

    @include tablet {
      text-align: center;
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }
}
