.survey-hero {
  height: 100%;

  background-image: url('./../img/survey.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include tablet {
    padding-top: 25.5rem;
    padding-bottom: 33rem;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.3);
  }

  &__container {
    position: relative;
    z-index: 10;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    padding-right: 15rem;
    padding-left: 42rem;

    @include tablet {
      padding: 0 7.5rem;
    }
  }

  &__title {
    max-width: 100.3rem;


    span:last-child {
      text-align: right;
    }
  }
}
