.team-main {
  height: 100%;
  background-image: url('./../img/team/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 12rem;
  padding-bottom: 12rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12rem;
    width: 100%;
    border-bottom: 1px solid rgba(#fff, 0.25);
  }

  .container,
  .team-main__container {
    height: 100%;
  }

  .team-main__container {
    padding: 0 22rem;
    padding-top: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    span:last-child {
      text-align: right;
    }
  }

  &__desc {
    color: #fff;
    text-align: left;
    max-width: 70rem;
  }
}