.team-lic {
  background-color: #f4f4f4;
  overflow: hidden;
  height: 100vh;
  @include tablet {
    height: auto;
    padding-bottom: 8.5rem;
  }
  .container {
    height: 100%;
  }

  &__container {
    height: 100%;

    @include tablet {
      gap: 6rem;
    }
  }

  &__left {
    padding-left: 5.5rem;
    padding-right: 5.5rem;

    @include tablet {
      padding: 0;
    }
  }

  &__right {
    @include tablet {
      display: block;
    }
  }

  &__title {
    margin-bottom: 6rem;

    @include tablet {
      text-align: center;
      margin: 0 1rem;
      margin-bottom: 3rem;
    }
  }

  &__circle {
    position: relative;
    z-index: 5;
    width: 63rem;
    height: 63rem;
    margin: 0 auto;

    @include tablet {
      width: 31rem;
      height: 31rem;
    }

    svg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 5;

      path {
        transform-origin: center;
        transform: rotate(65deg);
      }
    }
  }

  &__number {
    position: absolute;
    z-index: 1;
    font-weight: 700;
    font-size: 22rem;
    line-height: 1;
    letter-spacing: -0.03em;
    color: transparent;
    background-image: url('./../img/blue-bg.webp');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;

    background-clip: text;

    transition: 0.3s ease-out;
    opacity: 0;

    @include tablet {
      font-size: 6rem;
    }

    &:nth-of-type(1) {
      right: -10rem;
      top: -5.4rem;
      @include tablet {
        right: -1rem;
        top: 0.5rem;
      }
    }

    &:nth-of-type(2) {
      right: -10rem;
      bottom: -5.7rem;

      @include tablet {
        right: -1rem;
        bottom: 0.5rem;
      }
    }

    &:nth-of-type(3) {
      left: -13rem;
      bottom: -5.7rem;

      @include tablet {
        left: -1rem;
        bottom: 0.5rem;
      }
    }

    &.active {
      opacity: 0.7;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 2.4rem;
    // cursor: zoom-in;
    @include tablet {
      width: auto;
      margin: 0 auto;
      margin-bottom: 1rem;
      height: 20rem;
      width: 13.9rem;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 54.2rem;

      @include tablet {
        max-height: unset;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__wrapper {
    display: none;
    max-height: 100%;
    min-height: 0;
    max-width: 100%;
    min-width: 0;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    text-align: center;
    padding: 0 3.4rem;
    @include tablet {
      padding: 0;
    }
  }

  &__name {
    margin-bottom: 1rem;

    @include tablet {
      font-size: 0.8rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #307fe2;

    @include tablet {
      font-size: 0.8rem;
    }

    img {
      display: block;
      width: 1.7rem;
      height: 1.7rem;
      object-fit: contain;
      @include tablet {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  &__right {
    position: relative;
    padding-bottom: 0;
    max-width: 100%;
    min-width: 0;
  }

  &__slider {
    padding-bottom: 4rem;
    max-width: 100%;
    min-width: 0;
    @include tablet {
      padding-bottom: 0;
    }
    .swiper-wrapper {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &__slider .swiper-slide {
    height: auto;
    @include tablet {
      width: 18rem;
    }
  }
}

.circle-text textPath {
  font-family: var(--font-family);
  font-weight: 300;
  text-transform: uppercase;
  fill: #307fe2;
}

.circle .path-stroke {
  stroke: #000;
  stroke-width: 1px;
}

.circle path,
.circle text {
  transition: fill 0.3s ease-out, opacity 0.3s ease-out;
}

.animate-g {
  overflow: hidden;

  path {
    fill: transparent;
  }

  text {
    opacity: 0;
  }

  @include hover {
    path {
      fill: rgba(#dbe1e9, 0.8);
    }

    text {
      opacity: 1;
    }
  }

  // &.active {
  //   path {
  //     fill: rgba(#dbe1e9, 0.8);
  //   }

  //   text {
  //     opacity: 1;
  //   }
  // }
}
