<section class="blog-slider">
  <div class="blog-hero__container">
    <div class="blog-slider__wrapper">
      <h2
        class="title2 title2--mob blog-hero__title animate-title"
      >
        <span>СТАТЬИ</span>
      </h2>
      <h2 class="title2 blog-slider__title">
        Я балтийская нерпа,
        <span>и я вернулась в Неву</span>
      </h2>
      <div class="blog-slider__slider swiper">
        <div class="swiper-wrapper blog-slider__items">
          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/01.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Проект и строительство<br />ливневых
                  очистных сооружений в модульном исполнении
                </p>
                <a
                  href="./article-liv.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p
                  class="text text--thin blog-slide__text blog-slide__text--short"
                >
                  В октябре 2020 года был завершен крупный
                  проект по реализации системы очистки
                  сточных вод «под ключ» на объекте филиала
                  «Невский» ПАО «ТГК-1» – Центральной ТЭЦ.
                  Очистка реализована на базе модульных
                  сооружений.
                </p>
                <a
                  href="./article-liv.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/02.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Установки для очистки<br />хозяйственно-бытовых
                  сточных<br />вод Ленинградской области
                </p>
                <a
                  href="./article-clr.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Одной из актуальных задач, до сих пор не
                  имеющих однозначного решения, является
                  нормативная очистка хозяйственно-бытовых
                  сточных вод, образующихся в процессе
                  жизнедеятельности человека. Поступление
                  недостаточно очищенных сточных вод ведет
                  не только к ухудшению экологического
                  состояния самого водного объекта, в
                  который осуществляется сброс, но и на
                  глобальные процессы, включая изменение
                  климата и ухудшение здоровья населения.
                </p>
                <a
                  href="./article-clr.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/03.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Обеспечение российских нормативов и
                  требований ХЕЛКОМ по сбросу азота и
                  фосфора в бассейн Балтийского моря
                </p>
                <a
                  href="./article-helk.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Россия является активным участником
                  процесса экологического возрождения
                  Балтийского моря, инициированного
                  Хельсинской Конвенцией.
                  <br /><br />
                  Обновленная Конвенция по охране морской
                  природной среды Балтийского моря,
                  известная как Хельсинская Конвенция, была
                  принята в 1992г. и утверждена
                  Правительством РФ постановлением от 5
                  октября 1998г. №1202. Для реализации целей
                  Хельсинской Конвенции учреждена Комиссия
                  по защите морской среды Балтийского моря
                  (ХЕЛКОМ), которая разрабатывает
                  рекомендации и наблюдает за их
                  выполнением.
                </p>
                <a
                  href="./article-helk.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/04.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Реализация модульных очистных сооружений в
                  двухэтажном исполнении
                </p>
                <a
                  href="./article-module.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p
                  class="text text--thin blog-slide__text blog-slide__text--short"
                >
                  В феврале 2020 года компанией «КРЕАЛ» была
                  завершена реализация проекта внедрения
                  системы очистки сточных вод на объекте ГУП
                  «ТЭК СПб» 1-ой Красногвардейской
                  котельной.
                </p>
                <a
                  href="./article-module.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/05.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Зачем составлять материальный баланс
                  целлюлозно-бумажного производства?
                </p>
                <a
                  href="./article-leave.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Составление материального баланса
                  целлюлозно-бумажного производства –
                  эффективный инструмент для разработки
                  рекомендаций по сокращению водопотребления
                  и стокоотведения предприятия.
                </p>
                <a
                  href="./article-leave.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/06.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Реконструкция очистных<br />сооружений<br />
                  Соликамского ЦБК
                </p>
                <a
                  href="./article-rek.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Долгое время целлюлозно-бумажная
                  промышленность в России считалась
                  отраслью, оказывающей наиболее негативное
                  воздействие на окружающую среду. Одна из
                  главных причин такой ситуации – отсутствие
                  достаточного финансирования для
                  технического совершенствования и
                  реконструкции производства. Поэтому ЦБП
                  России по удельному потреблению бумаги и
                  картона занимала место значительно ниже
                  среднего мирового уровня. В последние годы
                  целлюлозно-бумажная отрасль в России
                  динамично развивается и стремится к
                  интеграции в международное экономическое
                  пространство, что требует от предприятий
                  вложения больших инвестиций на приведение
                  технологии производства и продукции к
                  международным экологическим стандартам.
                </p>
                <a
                  href="./article-rek.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/07.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Очистка сточных вод от биогенных элементов
                </p>
                <a
                  href="./article-bio.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p
                  class="text text--thin blog-slide__text blog-slide__text--short"
                >
                  Актуальность проблемы очистки сточных вод
                  от соединений азота и фосфора обусловлена
                  все более возрастающей степенью
                  эвтрофикации поверхностных водоемов,
                  которая в значительной мере определяет
                  экологическую ситуацию, как в России, так
                  и за рубежом.
                </p>
                <a
                  href="./article-bio.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/08.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  В юбилейный год Санкт-Петербурга фирма
                  «КРЕАЛ» отмечает свое десятилетие
                </p>
                <a
                  href="./article-cong.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p
                  class="text text--thin blog-slide__text blog-slide__text--short"
                >
                  В юбилейный год Санкт-Петербурга фирма
                  «КРЕАЛ» отмечает свое десятилетие. Срок
                  небольшой, но специалисты фирмы доказали
                  свою состоятельность, несмотря на
                  экономические потрясения, произошедшие в
                  нашей стране.
                </p>
                <a
                  href="./article-cong.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/09.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  АО «Креал»: создавая технологии очистки
                  сточных вод, улучшаем качество окружающей
                  среды
                </p>
                <a
                  href="./article-tech.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Компания «Креал» на протяжении тридцати
                  лет разрабатывает и внедряет технологии и
                  оборудование для предотвращения
                  загрязнения окружающей среды сточными
                  водами. Всего за годы деятельности
                  реализовано более 130 проектов,
                  произведено и поставлено более 150 единиц
                  модульных установок. Предприятие оказывает
                  помощь в обеспечении благоприятного
                  экологического фона работы промышленных
                  предприятий и жилищно-коммунальных
                  хозяйств, улучшения качества окружающей
                  среды.
                </p>
                <a
                  href="./article-tech.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/10.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Современные технологии в обеспечении
                  экологической безопасности СПб и Финского
                  залива
                </p>
                <a
                  href="./article-modern.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  В настоящее время в Санкт-Петербурге
                  основной проблемой в области охраны
                  окружающей среды является снижение уровня
                  техногенного загрязнения с учетом
                  международных обязательств России.
                  Стратегия улучшения экологической
                  обстановки в регионе состоит в ориентации
                  на современные технологии,
                  перепрофилирование экологически грязных
                  производств, а тактика – в концентрации
                  усилий на приоритетных направлениях.
                </p>
                <a
                  href="./article-modern.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/11.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  ЗАО "КРЕАЛ" технологии и оборудование для
                  очистки сточных вод
                </p>
                <a
                  href="./article-zao.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  В современный век высоких технологий
                  происходит непрерывная модернизация
                  способов очистки воды и на сегодняшний
                  день компания ЗАО «КРЕАЛ» является одним
                  из ведущих производителей оборудования для
                  очистки воды и предлагает услуги для
                  решения широкого спектра экологических
                  проблем с помощью новейших
                  научно-технических разработок, и
                  высокоэффективного оборудования. Внедрение
                  технологий и оборудования ЗАО «КРЕАЛ»
                  позволяет достичь требований на сброс и
                  российских нормативов и требований ХЕЛКОМ.
                </p>
                <a
                  href="./article-zao.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/12.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Cовершенствование технологий очистки
                  сточных вод
                </p>
                <a
                  href="./article-imp.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Анализ состояния водных объектов
                  показывает, что практически все водные
                  источники, как поверхностные, так
                  и подземные, подвергаются антропогенному и
                  техногенному воздействию, хотя и с
                  различной степенью интенсивности.
                </p>
                <a
                  href="./article-imp.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/13.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Инновации в области сокращения сбросов
                  целлюлозно-бумажной промышленности
                </p>
                <a
                  href="./article-inn.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Целлюлозно-бумажные предприятия – одни из
                  самых крупных природопользователей,
                  потребителей воздуха и водных ресурсов
                  среди всех отраслей российской
                  промышленности. По водоемкости
                  целлюлозно-бумажные производства занимают
                  4-е место после предприятий
                  металлургической и химической отраслей и
                  гидроэнергетики: при производстве 1 тонны
                  целлюлозы расходуется 250 – 500 м3 свежей
                  воды.
                </p>
                <a
                  href="./article-inn.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="blog-slider__slide blog-slide">
              <div class="blog-slide__header">
                <div class="blog-slide__img">
                  <img src="./img/blog/14.webp" alt="" />
                </div>
                <p class="blog-slide__title">
                  Фрагмент доклада председателя правления
                  АсЭП ген. директора АО «КРЕАЛ» Крючихина
                  Е.М.
                </p>
                <a
                  href="./article-frag.html"
                  class="btn btn-reset blog-slide__btn"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
              <div class="blog-slide__bottom">
                <p class="text text--thin blog-slide__text">
                  Современный этап развития российской
                  промышленности характеризуется тем, что
                  все большее внимание обращается на
                  экологическое состояние регионов, где
                  сосредоточены промышленные предприятия.
                  Необходимость соблюдения международных
                  экологических требований, законодательство
                  в области охраны окружающей среды и
                  общественное мнение обязывают промышленные
                  предприятия в Российской Федерации, как и
                  в европейских странах, вкладывать большие
                  инвестиции в природоохранные мероприятия.
                </p>
                <a
                  href="./article-frag.html"
                  class="btn btn-reset blog-slide__btn blog-slide__btn--mob"
                  >Подробнее
                  <svg class="">
                    <use
                      xlink:href="img/sprite.svg#arr-right"
                    ></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="blog-slider__control">
          <div
            class="blog-slider__btn blog-slider__btn--prev"
          >
            <svg
              width="12"
              height="19"
              viewBox="0 0 12 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.0234 17.1406L2.00163 9.02058L10.1217 0.998773"
                stroke="#307FE2"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <div
            class="blog-slider__btn blog-slider__btn--next"
          >
            <svg
              width="11"
              height="19"
              viewBox="0 0 11 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.11719 17.1406L9.13899 9.02058L1.01895 0.998773"
                stroke="#307FE2"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="blog-slider__bottom">
        <button
          class="btn btn-reset blog-slider__more blog-show-more"
        >
          Смотерть еще
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
