<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">Ознакомиться <span>с кейсом</span></h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Этапы обследования очистных сооружений
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">
              1. Предпроектное обследование (при необходимости)
            </div>
            <p class="case__body text">
              Сбор исходных данных (суточные, часовые расходы, концентрации
              загрязняющих веществ в исходном и очищенном стоке, обмерные
              работы, составление ведомости дефектов, модельные испытания по
              очистке сточных вод (при необходимости) и пр.) Анализ полученных
              исходных данных Разработка общих проектных решений (подбор
              технологического оборудования, оценка капитальных затрат,
              составление технического задания на разработку проектной и рабочей
              документации)
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Согласование общих проектных решений с Заказчиком
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">3. Инженерные изыскания</div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              4. Разработка необходимых разделов проектной документации
            </div>
            <p class="case__body text">
              В соответствии с требованиями Постановления Правительства РФ от
              16.02.2008 №87
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Согласование разработанной проектной документации с Заказчиком
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              6. Прохождение государственной, экологической экспертизы (при
              необходимости)
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              7. Разработка необходимых разделов рабочей документации
            </div>
            <p class="case__body text">
              В соответствии с требованиями ГОСТ Р 21.101-2020
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              8. Согласование разработанной рабочей документации с Заказчиком
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              9. Разработка конструкторской документации
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              10. Разработка исполнительной и эксплуатационной документации
            </div>
            <p class="case__body text">
              Документы о качестве, паспорта, руководства по эксплуатации,
              инструкции по монтажу и пр.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              11. Изготовление и поставка оборудования на объект
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">12. Проведение шеф-монтажных работ</div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              13. Проведение пуско-наладочных работ
            </div>
            <p class="case__body text">
              Достижение заданного норматива на сброс, разработка
              технологического регламента работы очистных сооружений
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right"></div>
  </div>
</section>
