<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">Ознакомиться <span>с кейсом</span></h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Этапы обследования очистных сооружений
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">1. Изучение проектной документации</div>
            <p class="case__body text">
              Изучаются принятые проектные решения от исходных данных до
              технологических и конструктивных решений
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Изучение эксплуатационной документации
            </div>
            <p class="case__body text">
              Изучаются журналы, проверяются паспорта, формуляры и истории
              ремонтов и модернизации оборудования и систем
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">3. Техническое обследование</div>
            <p class="case__body text">
              Проверяются настройки, установки и реальные режимы работы
              оборудования, а также его производительность и соответствие
              режимам
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              4. Проверка работы технологии и ее режимов
            </div>
            <ul class="list-reset case__list text">
              <li>
                Проверяется нагрузка на систему очистки системы сточных вод
              </li>
              <li>Выполняются проверочные расчеты</li>
              <li>
                Проводится отбор проб и анализы входящих стоков и очищенной воды
              </li>
            </ul>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Изучение и анализ собранных материалов
            </div>
            <p class="case__body text">
              Изучаются результаты статистики анализов, полученных заказчиком в
              ходе эксплуатации за последние годы и сверяются с последними
              анализами по каждому этапу очистки, полученными в ходе
              обследования
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">6. Подготовка отчета</div>
            <div class="case__body text">
              Все полученные данные сводятся в отчет о проведенном обследовании.
              <br /><br />
              В отчет входят:
              <ul class="list-reset case__list text">
                <li>
                  Описание проблем в работе очистных сооружений и причин,
                  которые вызвали сбои в их работе. Прилагаются все результаты
                  исследований и расчетов.
                </li>
                <li>
                  План технических и организационных мероприятий по устранению
                  отклонений в работе очистных сооружений. При наличии разных
                  способов модернизации, план составляется по вариантам.
                </li>
                <li>
                  Сметы на работы и поставку оборудования по модернизации
                  очистных сооружений.
                </li>
                <li>План-график поставки оборудования и проведения работ.</li>
                <li>График финансирования работ.</li>
                <li>Фото и видеоматериалы</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right cases-clients">
      <div class="cases-clients__top">
        <div class="cases-clients__title capture">
          В числе наших <span>заказчиков</span>
        </div>
        <div class="text text--thin cases-clients__text">
          <ul>
            <li>
              Аудит систем водоочистки для Северсталь, АО “Карельский окатыш”
            </li>
            <li>Аудит очистных сооружений для ООО МЦМиР “Курорт Увильды”</li>
            <li>Изготовление очистных сооружений для АО “СОЛИКАМСКБУМПРОМ”</li>
            <li>Модернизация очистных АК”АЛРОСА” ПАО</li>
            <li>
              Ревизия очистных на объекте ООО “Сухонский Картонно-бумажный
              комбинат”
            </li>
          </ul>
        </div>
        <a href="#" class="link cases-clients__link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </a>
      </div>
      <div class="cases-clients__bottom">
        <button class="btn-reset btn cases-clients__btn">
          Получить кейс
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </button>
        <button class="btn-reset btn cases-clients__btn">
          Нужна консультация
        </button>
      </div>
    </div>
  </div>
</section>
