<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">Ознакомиться <span>с кейсом</span></h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Преимущества наличия собственных производственных площадей АО «КРЕАЛ»
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">
              1. Точное соответствие потребности заказчика
            </div>
            <p class="case__body text">
              Продукция выпускается в полном соответствии с техническим заданием
              на собственной производственной линии
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Соблюдение сроков исполнения заказа
            </div>
            <p class="case__body text">
              Сроки исполнения Договоров не зависят от посредников
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">3. Качество продукции</div>
            <p class="case__body text">
              Возможность изменять продукт под заданный заказчиком уровень
              надежности
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">4. Применяемые материалы</div>
            <p class="case__body text">
              Под каждый проект применяются материалы, учитывающие особенности
              климата и эксплуатации объекта
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Отработанная технология производства
            </div>
            <p class="case__body text">
              Технологи, конструкторы и производство находятся вместе, что
              позволяет выпускать качественную серийную продукцию и оперативно
              запускать производство новых изделий
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right"></div>
  </div>
</section>
