<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">
        Ознакомиться <span>с кейсом</span>
      </h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Заказчик получает следующий результат по договору
          на сервис очистных сооружений:
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">
              1. Информацию об актуальном состоянии
              оборудования очистных сооружений
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Качество очистки стока по сравнительным
              данным на входе и выходе из очистных
              сооружений
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              3. Настройку и коррекцию режимов очистки
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              4. Спецификацию для бюджетирования плановой
              закупки необходимых реагентов и ЗИП на
              расчётный период
            </div>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Оформленную отчетную документацию о работе
              очистных сооружений
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right cases-clients">
      <div class="cases-clients__top">
        <div class="cases-clients__title capture">
          В числе наших <span>заказчиков</span>
        </div>
        <div class="text text--thin cases-clients__text">
          <ul>
            <li>
              Аудит очистных для Чудовского завода
              железобетонных шпал - филиал АО “БЭТ”
            </li>
          </ul>
        </div>
        <a href="#" class="link cases-clients__link">
          Подробнее
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </a>
      </div>
      <div class="cases-clients__bottom">
        <button class="btn-reset btn cases-clients__btn">
          Получить кейс
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </button>
        <button class="btn-reset btn cases-clients__btn">
          Нужна консультация
        </button>
      </div>
    </div>
  </div>
</section>
