<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">
        Ознакомиться <span>с кейсом</span>
      </h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Заказчик получает следующий результат по договору
          на сервис очистных сооружений:
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">
              1. Прокрутку и наладку оборудования в
              «холостом» режиме
            </div>
            <p class="case__body text">
              Настраивается и проверяется оборудование
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Запуск очистных сооружений в тестовом
              режиме с подачей технической воды
            </div>
            <p class="case__body text">
              Настраиваются параметры технологии очистки и
              работа систем автоматического управления
              технологическими процессами. Тестируются
              алгоритмы сигнализации, безопасности и защиты
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              3. Комплексную проверку очистных сооружений на
              сточной воде
            </div>
            <p class="case__body text">
              Берутся пробы входящих стоков и очищенной воды
              после очистных сооружений. Проводится
              инструктаж и обучение обслуживающего персонала
              заказчика
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              4. Настраиваются параметры и режимы технологии
              очистки
            </div>
            <p class="case__body text">
              По: дозировке реагентов и ила, расходам
              сточных вод по отдельным технологическим
              линиям
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Составляется отчет
            </div>
            <p class="case__body text">
              О проведенных пуско-наладочных работах и
              рекомендации по поддержанию устойчивых режимов
              работы технологии очистки.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              6. Заказчику передаётся комплекс очистных
              сооружений в эксплуатацию
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right cases-clients">
      <div class="cases-clients__top">
        <div class="cases-clients__title capture">
          В числе наших <span>заказчиков</span>
        </div>
        <div class="text text--thin cases-clients__text">
          <ul>
            <li>
              Изготовление очистных для ПАО ГМК “Норильский
              никель”
            </li>
            <li>
              Изготовление очистных сооружений ООО “РН
              Стройиндустрия”
            </li>
            <li>
              Локальные очистные сооружения для АО “Илим
              гофра”
            </li>
            <li>
              Изготовление очистных для УФСИН России по
              Республике Карелия
            </li>
            <li>
              Изготовление очистных для по заказу
              администрации р-на “Усть-Алданский”
            </li>
          </ul>
        </div>
        <a href="#" class="link cases-clients__link">
          Подробнее
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </a>
      </div>
      <div class="cases-clients__bottom">
        <button class="btn-reset btn cases-clients__btn">
          Получить кейс
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </button>
        <button class="btn-reset btn cases-clients__btn">
          Нужна консультация
        </button>
      </div>
    </div>
  </div>
</section>
