<section class="cases scroll-section">
  <div class="container request__container">
    <div class="request__left cases__left">
      <h2 class="cases__title title2">
        Ознакомиться <span>с кейсом</span>
      </h2>
      <p class="cases__subtitle">
        сопровождение прохождения государственной экспертизы
      </p>

      <div class="cases__steps">
        <div class="cases__capture capture">
          Этапы проведения модернизации очистных сооружений:
        </div>
        <ul class="list-reset cases__list">
          <li class="cases__item case">
            <div class="case__header">1. Обследование</div>
            <p class="case__body text">
              В ходе обследования очистных сооружений
              выясняется их фактическое техническое
              состояние. Заказчик на выходе получает отчет о
              проведенном обследовании.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              2. Разработка вариантов технической концепции
              модернизации
            </div>
            <p class="case__body text">
              Разрабатываются подходящие для ситуации на
              объекте варианты технической реализации
              модернизации комплекса очистных сооружений.
              Заказчик на выходе получает варианты
              модернизации очистных сооружений.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              3. Расчет ТЭО для каждого из вариантов
              модернизации
            </div>
            <p class="case__body text">
              Выполняется оценка экономической
              целесообразности для выбранных заказчиком
              вариантов модернизации очистных сооружений.
              Заказчик на выходе получает утверждение одного
              наиболее приемлемого варианта для проведения
              модернизации по цене, срокам, видам работ,
              размещению, типам оборудования, окупаемости.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              4. Разработка проектной документации «П» и «Р»
            </div>
            <p class="case__body text">
              Выполняется проектирование всех необходимых
              разделов ПСД для модернизации очистных
              сооружений. Заказчик на выходе получает
              согласованную и прошедшую экспертизу ПСД.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              5. Поставка оборудования
            </div>
            <p class="case__body text">
              Проводится поставка оборудования. Заказчик на
              выходе получает закупленное и готовое к
              монтажу оборудование.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">
              6. Строительно-монтажные работы
            </div>
            <p class="case__body text">
              Выполняются строительно-монтажные работы на
              объекте. Заказчик на выходе получает
              законченный монтаж комплекса очистных
              сооружений.
            </p>
          </li>
          <li class="cases__item case">
            <div class="case__header">7. Пуско-наладка</div>
            <p class="case__body text">
              Проводится пуско-наладка оборудования и
              настройка технологических режимов работы до
              выхода показателей на норматив сброса.
              Заказчик на выходе получает принятые в
              эксплуатацию очистные сооружения.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases__right request__right cases-clients">
      <div class="cases-clients__top">
        <div class="cases-clients__title capture">
          В числе наших <span>заказчиков</span>
        </div>
        <div class="text text--thin cases-clients__text">
          <ul>
            <li>
              Аудит систем водоочистки для Северсталь, АО
              “Карельский окатыш”
            </li>
            <li>
              Аудит очистных сооружений для АО
              “СОЛИКАМСКБУМПРОМ”
            </li>
            <li>
              Аудит очистных сооружений для ООО МЦМиР
              “Курорт Увильды”
            </li>
            <li>
              Изготовление очистных сооружений для ООО
              “Теплоэнергоремонт”
            </li>
            <li>
              Блочные очистные для АО “Производственное
              объединение “Возрождение””
            </li>
          </ul>
        </div>
        <a href="#" class="link cases-clients__link">
          Подробнее
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </a>
      </div>
      <div class="cases-clients__bottom">
        <button class="btn-reset btn cases-clients__btn">
          Получить кейс
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </button>
        <button class="btn-reset btn cases-clients__btn">
          Нужна консультация
        </button>
      </div>
    </div>
  </div>
</section>
