<section class="completed-geo">
  <div class="container completed-geo__container">
    <div class="completed-geo__left">
      <h2 class="title2 completed-geo__title">
        География <span>объектов</span>
      </h2>

      <div class="completed-geo__img">
        <img src="./img/releaze/map.webp" alt="" />
      </div>
    </div>

    <div class="completed-geo__right">
      <div class="completed-geo__block">
        <div class="completed-geo__capture capture">ПО ТИПУ ОБОРУДОВАНИЯ</div>
        <ul class="completed-geo__list list-reset">
          <li class="text text--thin">Блочно-модульные очистные сооружения</li>
          <li class="text text--thin">Блокс-бокс</li>
          <li class="text text--thin">Плоскостная загрузка</li>
          <li class="text text--thin">Фильтры с плавающей загрузкой</li>
          <li class="text text--thin">Станция приема сточных вод</li>
          <li class="text text--thin">Канализационная насосная станция</li>
          <li class="text text--thin">Трубчатые аэраторы</li>
          <li class="text text--thin">Мешковая сушилка</li>
          <li class="text text--thin">Водоподготовка</li>
        </ul>
      </div>
      <div class="completed-geo__block">
        <div class="completed-geo__capture capture">
          по типу комплекса работ
        </div>
        <ul class="completed-geo__list list-reset">
          <li class="text text--thin">Обследование очистных сооружений</li>
          <li class="text text--thin">Разработка документации</li>
          <li class="text text--thin">Производство очистных сооружений</li>
          <li class="text text--thin">Монтаж и пусконаладка</li>
          <li class="text text--thin">Модернизация очистных сооружений</li>
          <li class="text text--thin">Скрвисное обслуживание</li>
        </ul>
      </div>
    </div>
  </div>
</section>
