<section class="completed">
  <div class="container">
    <div class="completed__row">
      <div class="completed__items">
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ПАО “ГМК Норильский Никель”. Заполярный филиал
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ГУП “Топливно-энергетический комплекс Санкт-Петербурга”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Оренбург Водоканал”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ГУП “Водоканал Санкт-Петербурга”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ПАО ГМК “Норильский никель” ПЕСХ ТПЦ№3
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АК “Алроса” (ПАО)</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">Северсталь АО “Карельский окатыш”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ГУП “Водоканал Лен. Области”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ПАО “ГМК Норильский Никель”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “СОЛИКАМСКБУМПРОМ”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Чудовский завод железобетонных шпал - Филиал АО “БЭТ”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Морской порт “Суходол”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Реконструкция аэродромного комплекса аэропорта г. Кемерово
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Комплекс автономный для мойки карьерного грузового транспорта, Мойка
            колес (Норильск)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Гранитная (закрытий объект), ЭС-2 Центральной ТЭЦ филиала “Невский”
            ПАО “ТГК-1”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">БАМ</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Сооружения доочистки КОС Самара (МПР)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Реконструкция КОС Новокуйбышевск (ФПЗ)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Сооружения доочистки КОС Самара (ФПЗ)
          </div>
        </a>
      </div>
      <div class="completed__items">
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ПАО “ГМК Норильский Никель”. Заполярный филиал
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ГУП “Топливно-энергетический комплекс Санкт-Петербурга”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Оренбург Водоканал”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ГУП “Водоканал Санкт-Петербурга”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ПАО ГМК “Норильский никель” ПЕСХ ТПЦ№3
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АК “Алроса” (ПАО)</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">Северсталь АО “Карельский окатыш”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ГУП “Водоканал Лен. Области”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ПАО “ГМК Норильский Никель”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “СОЛИКАМСКБУМПРОМ”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Чудовский завод железобетонных шпал - Филиал АО “БЭТ”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Морской порт “Суходол”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Реконструкция аэродромного комплекса аэропорта г. Кемерово
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Комплекс автономный для мойки карьерного грузового транспорта, Мойка
            колес (Норильск)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Гранитная (закрытий объект), ЭС-2 Центральной ТЭЦ филиала “Невский”
            ПАО “ТГК-1”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">БАМ</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Сооружения доочистки КОС Самара (МПР)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Реконструкция КОС Новокуйбышевск (ФПЗ)
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Сооружения доочистки КОС Самара (ФПЗ)
          </div>
        </a>
      </div>
    </div>

    <div class="completed__header">
      <div class="completed__i">
        <img src="./img/releaze/02.webp" alt="" />
      </div>
      <div class="completed__i">
        <img src="./img/releaze/03.webp" alt="" />
      </div>
      <div class="completed__i">
        <img src="./img/releaze/04.webp" alt="" />
      </div>
      <h1 class="completed__title">
        <span class="completed__title-row">
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
        </span>
        <span class="completed__title-row">
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
          <span>РЕАЛИЗОВАННЫЕ ПРОЕКТЫ</span>
        </span>
      </h1>
    </div>

    <div class="completed__row completed__row--reverse">
      <div class="completed__items">
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “СПМ - инжиниринг”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ООО “Сухонский Картонно-бумажный комбинат”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “ПТВС”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “ОСКОМ”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            АО “Производственное объединение “Возрождение”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Теплоэнергоремонт”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “РН Стройиндустрия”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Администрация “Усть-Алданский Улус” Республики Саха”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Администрация р-на “Усть-Алданский Улус” Республики Саха” (Якутия),
            С.Сырдах
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">УФСИН России по Республике Карелия</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО МЦМиР “Курорт Увильды”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “Илим Гофра”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “ТрансЭлектроТех-Регион Сибирь”</div>
        </a>
      </div>
      <div class="completed__items">
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “СПМ - инжиниринг”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            ООО “Сухонский Картонно-бумажный комбинат”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “ПТВС”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “ОСКОМ”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            АО “Производственное объединение “Возрождение”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “Теплоэнергоремонт”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО “РН Стройиндустрия”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Администрация “Усть-Алданский Улус” Республики Саха”
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">
            Администрация р-на “Усть-Алданский Улус” Республики Саха” (Якутия),
            С.Сырдах
          </div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">УФСИН России по Республике Карелия</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">ООО МЦМиР “Курорт Увильды”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “Илим Гофра”</div>
        </a>
        <a href="#" class="completed__item">
          <div class="completed__img">
            <img src="./img/releaze/01.webp" alt="" />
          </div>
          <div class="completed__name">АО “ТрансЭлектроТех-Регион Сибирь”</div>
        </a>
      </div>
    </div>
  </div>
</section>
