<section class="contacts-main">
  <div class="container">
    <div class="contacts-main__container">
      <div class="contacts-main__fig">
        <div class="line"></div>
      </div>
      <div class="contacts-main__left">
        <h2 class="title2 contacts-main__title">Контакты</h2>
        <p class="title2 contacts-main__back"><span>Назад</span></p>
        <div class="contacts-main__map" id="map"></div>
        <a href="#" class="btn btn-reset contacts-main__btn">
          Задать вопрос
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </a>
      </div>
      <address class="contacts-main__right">
        <div class="contacts-main__block">
          <div class="contacts-main__capture">Основная линия</div>
          <div>
            <div>
              <a href="tel:+78125718130" class="contacts-main__text desc"
                >+7 (812) 571-81-30</a
              >
            </div>
            <div>
              <a
                href="mailto:office@kreal.spb.ru"
                class="contacts-main__text desc"
                >office@kreal.spb.ru</a
              >
            </div>
          </div>
        </div>
        <div class="contacts-main__block">
          <div class="contacts-main__capture">Для заказов и сотрудничества</div>
          <div>
            <div>
              <a href="tel:+78125710713" class="contacts-main__text desc"
                >+7 (812) 571-07-13</a
              >
            </div>
            <div>
              <a
                href="mailto:zakaz@kreal.spb.ru"
                class="contacts-main__text desc"
                >zakaz@kreal.spb.ru</a
              >
            </div>
          </div>
        </div>
        <div class="contacts-main__block">
          <div class="contacts-main__capture">Адрес</div>
          <div>
            <div>
              <span class="contacts-main__text desc">
                190031, г. Санкт-Петербург, переулок Антоненко, дом 10, литер А,
                помещение 13Н
              </span>
            </div>
          </div>
        </div>
        <div class="contacts-main__block">
          <div class="contacts-main__capture">
            Адрес для отправки документов и корреспонденции
          </div>
          <div>
            <div>
              <span class="contacts-main__text desc">
                190031, г. Санкт-Петербург, а/я449
              </span>
            </div>
          </div>
        </div>
      </address>
    </div>
  </div>
</section>
