<section class="contacts-ways">
  <div class="container">
    <div class="contacts-ways__container">
      <div class="contacts-ways__left">
        <h2 class="title2 contacts-ways__title">Как добраться</h2>
        <div class="contacts-ways__wrapper">
          <div class="contacts-ways__control orbit-control">
            <div class="orbit-control__btn orbit-control__btn--prev">
              <svg
                width="36"
                height="65"
                viewBox="0 0 36 65"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  opacity="0.8"
                  d="M33 3L5 32.3965L33 62"
                  stroke-width="6"
                />
              </svg>
            </div>
            <div class="orbit-control__btn orbit-control__btn--next">
              <svg
                width="36"
                height="65"
                viewBox="0 0 36 65"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  opacity="0.8"
                  d="M33 3L5 32.3965L33 62"
                  stroke-width="6"
                />
              </svg>
            </div>
          </div>
          <div class="contacts-ways__orbit orbit">
            <div class="orbit__planet orbit__planet--active">
              <div class="orbit__img">
                <img src="./img/contacts/01.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/02.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/03.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/04.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/05.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/06.webp" alt="" />
              </div>
            </div>

            <div class="orbit__planet orbit__planet--next">
              <div class="orbit__img">
                <img src="./img/contacts/01.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/02.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/03.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/04.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/05.webp" alt="" />
              </div>
              <div class="orbit__img">
                <img src="./img/contacts/06.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-ways__right"></div>
    </div>
  </div>
</section>
