<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div>
          <p>
            Для людей, проживающих в мегаполисах, таких как
            Москва, Санкт-Петербург, Екатеринбург и ряде
            других промышленных городов, требуются так
            называемые " защитные механизмы" для очистки
            сточных вод. Компания "Креал", занимающаяся
            производством оборудования очистки воды <a
              href="#"
              >http://www.kreal.spb.ru</a
            >, поможет предприятиям и жителям мегаполисов
            решить широкий спектр экологических проблем. 
          </p>
        </div>
        <div>
          <p>
            Компания стала победителем конкурса "100 лучших
            организаций России. Экология и экологический
            менеджмент". "Креал" следит за экологической
            безопасностью окружающей среды и поэтому
            занимается разработкой различных технологий
            очистки воды, позволяющих эффективно
            отфильтровывать из воды вредные вещества. Для
            решения этой задачи требуется создание новейшее
            оборудование для системы очистки воды.
          </p>
        </div>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/05.webp" alt="" />
      </div>
    </div>
  </div>
</section>
