<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="eco-block__mob">
        <h2>Креал. Экологическая безопасность</h2>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/01.webp" alt="" />
      </div>
      <div>
        <h1>Креал. Экологическая безопасность</h1>

        <div class="row">
          <div>
            <p>
              <b
                >К 15 сентября 2008 года компания по
                производству инновационного оборудования
                очистки воды "Креал", усовершенствовала
                технологию глубокой биологической очистки
                сточных вод.</b
              >
            </p>
          </div>
          <div>
            <p>
              Восстановление экологии, решение проблем
              загрязненности окружающей среды - серьезная, и
              при этом вполне посильная задача. Для начала
              необходимо создать надёжные и эффективные
              системы очистки<br />воды на предприятиях.
              Очистка сточных вод на сегодняшний день уже
              используется достаточно широко. Вместе с тем,
              необходимо учитывать, что при производстве
              оборудования очистки воды как нигде важны<br />последние
              достижения науки в области разработки
              технологии очистки воды.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
