<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div class="col jcsb algs">
          <p>
            Фирма "Креал" за годы успешной работы успела
            зарекомендовать себя как надежный производитель
            оборудования очистки воды. С 1994 года фирма
            разрабатывала и производила аэраторы и
            биофильтры для <br />очистки сточных вод на
            таких предприятиях, как "Норильский никель",
            "Пассажиравтотранс", занималась реконструкцией и
            строительством аэрационных систем и очистных
            сооружений в городах Владикавказ (РСО<br />Алания),
            Новгород, Чудово, Сольцы, Крестцы, Тиберда,
            Соликамск и др. <br /><br />
            Системы очистки воды "Креал" используются в
            очистных сооружениях этих городов и сегодня.
            Биологическая очистка воды в зависимости от
            загрязненности воды может быть более или менее
            глубокой, для различных технологий биологической
            очистки компания располагает соответствующими
            проектами и оборудованием.
            <br /><br />
            Благодаря инновационным разработкам предприятия
            "Креал" в области биологической очистки сточных
            вод, вода в регионе станет более безопасной
            экологически и будет пригодной для использования
            в различных целях.
          </p>

          <a href="#" class="btn btn-reset eco-block__btn">
            Ко всем новостям
            <svg class="">
              <use
                xlink:href="img/sprite.svg#arr-right"
              ></use>
            </svg>
          </a>
        </div>
        <div>
          <img src="./img/eco/single/03.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
