<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="eco-block__mob">
        <h2>Креал: "Чистота - залог здоровья”</h2>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/04.webp" alt="" />
      </div>
      <div>
        <h1>Креал: "Чистота - залог здоровья”</h1>

        <div class="row">
          <div>
            <p>
              <b
                >С 19 -21 марта в ВК "Ленэкспо" прошел
                Международный экологический форум.
                Организаторами форума выступает ОАО
                "Ленэкспо". В рамках данного мероприятия
                прошел ряд специализированных выставок,
                посвященных проблемам экологии. На выставке
                демонстрировались передовые зарубежные и
                отечественные технологии в области
                управления бытовыми и промышленными
                отходами. </b
              >
            </p>
          </div>
          <div>
            <p>
              В форуме приняла участие компания "Креал" <a
                href="#"
                >http://www.kreal.spb.ru</a
              >, которая занимается производством
              оборудования очистки воды. На сегодняшний день
              загрязнение воды является довольно актуальной
              проблемой. Основные виды загрязнения вод
              связаны с развитием нефтеперерабатывающей,
              химической, бумажной, пищевой промышленности и
              промышленности, производящей радиоактивные
              вещества. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
