<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div class="col jcsb algs">
          <p>
            Одним из методов очистки воды, предлагаемых
            компанией "Креал" являются аэрационные системы
            или, проще говоря, аэраторы. Аэраторы
            применяются, обычно, на промышленных
            предприятиях и производят высокоскоростную
            очистку вод при минимальных затратах
            электроэнергии. Наряду с аэраторами, для
            биологической очистки воды используются
            биофильтры, в которых вода проходит
            многоступенчатую очистку, и все токсичные
            вещества оседают на стенках биофильтра.
            Биофильтры могут применяться не только на
            предприятиях но и дома. В настоящее время
            "Креал" работает над модернизацией уже
            имеющегося оборудования и созданием нового. 
            <br /><br />
            В рамках Международного экологического форума
            компания "Креал" приняла участие в XV
            Международной специализированной выставке
            оборудования , технологий и природоохранных
            услуг в сфере экологии промышленных предприятий
            "Экология большого города-2008" . Там компания
            традиционно представила свои разработки в
            области очистки сточных вод и результаты их
            внедрения.
          </p>

          <a href="#" class="btn btn-reset eco-block__btn">
            Ко всем новостям
            <svg class="">
              <use
                xlink:href="img/sprite.svg#arr-right"
              ></use>
            </svg>
          </a>
        </div>
        <div>
          <img src="./img/eco/single/06.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
