<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="eco-block__mob">
        <h2>
          Модернизированный отстойник-фильтр для эффектной
          доочистки сточных вод
        </h2>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/07.webp" alt="" />
      </div>
      <div>
        <h1>
          Модернизированный отстойник-фильтр для эффектной
          доочистки сточных вод
        </h1>

        <div class="row">
          <div>
            <p>
              <b
                >Крючихин Е.М., Николаев А.Н., Ляшенко
                С.М.<br />
                ЗАО «КРЕАЛ»<br />Отстойник-фильтр,
                разработанный специалистами ЗАО «КРЕАЛ»,
                относится к наилучшим доступным технологиям
                для доочистки сточных вод с обеспечением
                норматива допустимого сброса.
              </b>
            </p>
          </div>
          <div>
            <p>
              Его конструкция продолжает совершенствоваться.
              Новый модернизированный вариант не только дает
              более высокий эффект доочистки стоков, но и
              решает задачу предотвращения развития
              водорослей и удаления плавающего ила с
              поверхности отстойной зоны отстойника-фильтра.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
