<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <p>
        <b
          >Концентрация взвешенных веществ на выходе
          модернизированных вторичных отстойников-фильтров
          (Д=40 м) очистных сооружений г. Оренбурга</b
        >
      </p>
      <br />
      <br />
      <table>
        <tbody>
          <tr>
            <td>Дата, 2019г</td>
            <td>20.02</td>
            <td>21.02</td>
            <td>25.02</td>
            <td>26.02</td>
            <td>27.02</td>
            <td>19.03</td>
            <td>20.03</td>
            <td>20.03</td>
            <td>Среднее</td>
          </tr>
          <tr>
            <td>Концентрация взв.веществ, мг/дм3</td>
            <td>1.2</td>
            <td>1.0</td>
            <td>3.9</td>
            <td>0.2</td>
            <td>3.1</td>
            <td>2.1</td>
            <td>1.7</td>
            <td>0.3</td>
            <td>1.7</td>
          </tr>
        </tbody>
      </table>
      <br /><br />

      <div class="eco-block__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/eco/slider/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/eco/slider/02.webp" alt="" />
          </div>
        </div>
      </div>

      <div class="eco-block__bottom">
        <a href="#" class="btn btn-reset eco-block__btn">
          Ко всем новостям
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
