<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div>
          <p>
            Санкт-Петербургская компания "Креал" с 1993 года
            внедряет инновационные методы очистки воды,
            занимается реконструкцией  аэрационных систем на
            предприятиях частного и муниципального сектора.
            Использование различных современных методов
            очистки воды, разработанных самой фирмой
            "Креал", обеспечивает восстановление целого 
            ряда природных свойств воды, очищает её от
            экологически неблагоприятных веществ и
            обеспечивает экологическую безопасность воды.
          </p>
        </div>
        <div>
          <p>
            Оборудование для очистных сооружений,
            производимое компанией "Креал", рассчитано на
            сточные воды различной степени загрязненности.
            Глубокая биологическая очистка сточных вод с
            биохимическим 
            <br />потреблением кислорода (БПК, показатель
            загрязненности воды) более чем 1000 мл/л
            производится с помощью многоступенчатой
            переработки загрязненной воды в биофильтрах,
            биотенках-отстойниках и затопленных
            аэрофильтрах.
          </p>
        </div>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/02.webp" alt="" />
      </div>
    </div>
  </div>
</section>
