<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div>
          <p>
            Оборудование  радиальных вторичных отстойников
            системы биологической очистки фильтрами с
            плавающей загрузкой  сокращает капитальные
            затраты, в сравнении с доочисткой на дисковых
            фильтрах, в 2-2,5 раза, а в сравнении со
            строительством фильтровальной станции с
            песчаными фильтрами -  в 3-3,5 раза.
            Эксплуатационные затраты снижаются  более, чем в
            300 раз. При этом, эффект доочистки на ФПЗ
            отстойника-фильтра (80%) выше, чем на дисковых
            фильтрах (50-70%) и не уступает эффективности
            песчаных фильтров (70-80%).<br />
            Эксплуатация отстойников-фильтров на сооружениях
            биологической очистки  сточных вод г. Оренбурга
            показала их высокую эффективность. Вместе с тем,
            в летний период наблюдалось развитие водорослей
            на поверхности отстойной зоны отстойника-фильтра
            и обрастание водорослями верхней сетки ФПЗ (рис.
            2). Кроме того, конструкции, ограничивающие зону
            промывки ФПЗ, недостаточно эффективно
            задерживали взвешенные вещества, и часть ГПВ
            поступала в фильтрат. В результате в период
            промывки ФПЗ (1 час за 1 сутки) концентрация
            взвешенных веществ в фильтрате возрастала до 20
            мг/л, что увеличило среднесуточную концентрацию
            на выходе отстойника-фильтра на 0,5—1 мг/л. Для
            снятия указанных недостатков разработаны и
            реализованы модернизированные
            отстойники-фильтры, оборудованные рядом
            дополнительных устройств (рис. 3,4). Сбор
            плавающего ила и предотвращение развития
            водорослей на поверхности отстойника
            обеспечивается эрлифтом, откачивающим плавающий
            ил с кольцевой зоны вблизи внутренней стенки ФПЗ
            в центральный стакан отстойника.
          </p>
        </div>
        <div>
          <p>
            Для минимизации выхода ГПВ за пределы зоны
            промывки ФПЗ установлена заслонка, перекрывающая
            выход ГПВ из зоны промывки в кольцевой лоток
            очищенной воды, а также дополнительные кассетные
            щетки ограничивающие зону промывки. Увеличено
            количество перфорированных сосунных труб и
            расход откачиваемой ГПВ. Кроме того, система
            управления промывкой ФПЗ выполнена на базе
            процессора с расширением функций управления. В
            частности предусмотрены различные автоматические
            режимы работы насосов откачки ГПВ с эффективным
            удалением с поверхности верхней сетки ФПЗ
            взвешенных веществ, образующихся в ходе промывки
            ФПЗ и при механической очистке верхней сетки
            щетками.<br /><br />
            Для эффективной очистки верхней сетки ФПЗ от
            биообрастаний (развития водорослей), наряду с
            постоянной работой дополнительных кассетных
            щеток, смонтирована лотковая щетка (с
            электроприводом), включаемая в работу
            периодически в ручном режиме. Результаты
            контроля подтвердили высокую эффективность
            принятых мер. Согласно полученным данным,
            приведенным в таблице, доочистка в
            модернизированных отстойниках – фильтрах
            позволяет достигать средней выходной
            концентрации взвешенных веществ менее
            2&nbsp;мг&nbsp;/&nbsp;л.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
