<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div>
          <p>
            Фильтрационная доочистка сточных вод с удалением
            остаточных взвешенных веществ и ряда других
            примесей является актуальной задачей для многих
            существующих и проектируемых очистных
            сооружений.  Создание отдельной ступени
            доочистки (фильтрационной станции) требует
            значительных  капитальных и эксплуатационных
            затрат, а также дополнительных площадей и
            коммуникаций.
          </p>
        </div>
        <div>
          <p>
            Существенно сократить затраты и избежать
            строительства фильтровальной станции позволяет
            размещение фильтра непосредственно в проточной
            зоне отстойника, входящего в систему
            биологической или физико-химической очистки. При
            этом отстойник превращается в комбинированное
            сооружение типа отстойник-фильтр.
          </p>
        </div>
      </div>
      <div class="eco-block__banner">
        <img src="./img/eco/single/08.webp" alt="" />
      </div>
    </div>
  </div>
</section>
