<section class="eco-block">
  <div class="container">
    <div class="eco-block__container">
      <div class="row">
        <div class="col jcsb algs">
          <p>
            В отстойнике-фильтре, разработанном
            специалистами ЗАО «КРЕАЛ» (Патент № №171492, 
            Патент № 171607), в качестве фильтра
            используется двухслойный фильтр с плавающей
            полимерной гранулированной загрузкой (ФПЗ),
            который размещается на выходе проточной зоны
            отстойника.  Принцип работы ФПЗ в режиме
            фильтрования и режиме промывки загрузки
            рассмотрен в  [журналах «Промышленная
            экология»№10 2017 (стр. 75); «Наилучшие
            доступные технологии» №3 2017 (стр.38)]. ФПЗ
            может размещаться в отстойниках любых типов
            (радиальных, горизонтальных и вертикальных
            отстойниках). Наиболее экономичное решение
            разработано для радиальных отстойников, в
            которых ФПЗ монтируется в виде периферийного
            кольца, а все оборудование для промывки 
            плавающей загрузки (насосы, воздуходувки)
            размещается на вращающейся ферме отстойника в
            закрытом обогреваемом боксе. В период промывки,
            под загрузку  подается воздух, что приводит её в
            псевдоожиженное состояние с выносом уловленных
            взвешенных частиц в область над загрузкой,
            откуда грязная промывная вода (ГПВ) собирается
            сосунной перфорированной трубой и насосом
            откачивается в центральный стакан радиального
            отстойника. Системы подачи воздуха и откачки ГПВ
            закреплены на ферме отстойника. Поэтому, при
            вращении фермы, промывке поочередно подвергаются
            все участки ФПЗ, а основная часть фильтра (свыше
            99%) продолжает работать в режиме фильтрования.
          </p>
        </div>
        <div>
          <img src="./img/eco/single/09.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
