<section class="eco-items">
  <div class="container">
    <h2 class="eco-items__title title2">
      Я балтийская нерпа, <span>и я вернулась в Неву</span>
    </h2>

    <div class="eco-items__items">
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/01.webp" alt="" />
        </div>
        <p class="eco-item__title">
          "Чистота - залог здоровья"
        </p>
        <p class="desc desc--thin eco-item__desc">
          С 19 -21 марта в ВК "Ленэкспо" прошел
          Международный экологический форум. Организаторами
          форума выступает ОАО "Ленэкспо". В рамках данного
          мероприятия прошел ряд специализированных
          выставок, посвященных проблемам экологии. На
          выставке демонстрировались передовые зарубежные и
          отечественные технологии в области управления
          бытовыми и промышленными отходами. 
        </p>
      </a>
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/02.webp" alt="" />
        </div>
        <p class="eco-item__title">
          Экологическая безопасность
        </p>
        <p class="desc desc--thin eco-item__desc">
          К 15 сентября 2008 года компания по производству
          инновационного оборудования очистки воды "Креал",
          усовершенствовала технологию глубокой
          биологической очистки сточных вод.
        </p>
      </a>
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/03.webp" alt="" />
        </div>
        <p class="eco-item__title">
          Модернизированный отстойник-фильтр для эффектной
          доочистки сточных вод
        </p>
        <p class="desc desc--thin eco-item__desc">
          Фильтрационная доочистка сточных вод с удалением
          остаточных взвешенных веществ и ряда других
          примесей является актуальной задачей для многих
          существующих и проектируемых очистных сооружений. 
        </p>
      </a>
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/04.webp" alt="" />
        </div>
        <p class="eco-item__title">Заголовок</p>
        <p class="desc desc--thin eco-item__desc">
          Текст...
        </p>
      </a>
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/03.webp" alt="" />
        </div>
        <p class="eco-item__title">
          Модернизированный отстойник-фильтр для эффектной
          доочистки сточных вод
        </p>
        <p class="desc desc--thin eco-item__desc">
          Фильтрационная доочистка сточных вод с удалением
          остаточных взвешенных веществ и ряда других
          примесей является актуальной задачей для многих
          существующих и проектируемых очистных сооружений. 
        </p>
      </a>
      <a href="#" class="eco-item eco__item">
        <div class="eco-item__img">
          <img src="./img/eco/04.webp" alt="" />
        </div>
        <p class="eco-item__title">Заголовок</p>
        <p class="desc desc--thin eco-item__desc">
          Текст...
        </p>
      </a>
    </div>
  </div>
</section>
