<section class="news-section">
  <div class="news-section__container">
    <h2 class="title2 news-section__title">
      Следите за новостями и событиями компании,
      <span
        >выпуском новых продуктов и тенденциями
        отрасли.</span
      >
    </h2>

    <div class="news-section__items rellax-container">
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item rellax"
        data-rellax-speed="2"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- <div class="news-section__container">
    <div class="news-section__items">
      <a
        href="./news-single.html"
        class="news-section__item news-item"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="news-section__container">
    <div class="news-section__items">
      <a
        href="./news-single.html"
        class="news-section__item news-item"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
      <a
        href="./news-single.html"
        class="news-section__item news-item"
      >
        <div class="news-item__img">
          <img src="./img/news-item.webp" alt="" />
        </div>
        <div class="news-item__info">
          <time
            datetime="YYYY-MM-DD"
            class="text news-item__date"
            >дата</time
          >
          <div class="news-item__capture capture">
            Завершение проекта строительства ливневых
            очистных сооружений в модульном исполнении
          </div>
        </div>
      </a>
    </div>
  </div> -->
</section>
