<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span
          >Северсталь, АО «Карельский окатыш» базисный склад - цеха подготовки
          производства, участок складирования нефтепродуктов</span
        >
      </h2>

      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Поставленная задача:</div>
        <div class="proj-obj__desc text">
          <p>
            Подобрать техническое решение, реализация которого позволит не
            допустить попадания нефтепродуктов в канаву сброса и в дальнейшем в
            Костомукшское хвостохранилище, в том числе и при аварийных выбросах.
          </p>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Комплекс работ:</div>
        <div class="proj-obj__desc text">
          <ul>
            <li><a href="#">обследование очистных сооружений</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
