<section
  class="proj-hero proj-hero--nikel"
  style="background-image: url(./img/proj/hero.webp)"
>
  <div class="container">
    <div class="proj-hero__container">
      <div class="proj-hero__content">
        <div class="proj-hero__header">
          <h1
            class="title4 proj-hero__title"
            style="max-width: 65rem"
          >
            Изготовление очистных для ПАО ГМК
            <span>«Норильский Никель»</span>
          </h1>
          <a href="#" class="link proj-hero__link">
            Отправить запрос
            <svg>
              <use
                xlink:href="img/sprite.svg#arr-right"
              ></use>
            </svg>
          </a>
        </div>

        <div class="proj-hero__items">
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              СУТОЧНЫЙ РАСХОД СТОКОВ
            </div>
            <p class="prhe-item__text text text--thin">
              450 м3/сутки
            </p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              ТИП СТОКА
            </div>
            <p class="prhe-item__text text text--thin">
              Хозяйственно-бытовой
            </p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              ГОД РЕАЛИЗАЦИИ
            </div>
            <p class="prhe-item__text text text--thin">
              2022
            </p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              ПРЕДЛОЖЕННЫЙ ТИП ОБОРУДОВАНИЯ
            </div>
            <p class="prhe-item__text text text--thin">
              Блочно-модульные очистные сооружения типа
              КНС-МОО и БТФ(А)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
