<section class="proj-obj proj-obj--orenvod">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span> Очистные сооружения<br />Водоканала города Оренбург</span>
      </h2>

      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Поставленная задача:</div>
        <div class="proj-obj__desc text">
          <p>
            Поставка оборудования для модернизации существующих очистных
            сооружений. Устройство должно представлять единый функциональный
            комплекс оборудования и технологических приспособлений для
            беспрерывного процесса доочистки осветленной биологически очищенной
            воды, путем медленного безнапорного фильтрования осветленной воды.
            Устройство предназначено для работы в системе биологической очистки
            очистных сооружений вторичного отстойника.
          </p>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Комплекс работ:</div>
        <div class="proj-obj__desc text">
          <ul>
            <li><a href="#">производство очистных сооружений</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/05.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/06.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/07.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/05.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/06.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/07.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
