<section class="proj-ben proj-ben--alrosa">
  <div class="container">
    <div class="proj-ben__container">
      <div class="proj-ben__content">
        <div class="proj-ben__block">
          <h2 class="title2 proj-ben__title">
            Преимущества <span>технологии</span>
          </h2>
          <div class="text text--thin proj-ben__text">
            <p>
              Отличительной особенностью Креал является
              отсутствие типовых технологических решений -
              каждый объект рассматривается обособленно, с
              учетом его специфики и разрабатывается
              комплекс сооружений, обеспечивающих
              нормативную очистку сточных вод при
              минимальных капитальных и эксплуатационных
              затратах.
            </p>
          </div>
        </div>
        <div class="proj-ben__block">
          <p
            class="title4 proj-ben__title proj-ben__title--small"
          >
            Состав
            <span>выполняемых работ:</span>
          </p>
          <div class="text text--thin proj-ben__text">
            <ol>
              <li>
                Определение текущего технического состояния
                СБО: диагностика работы оборудования или
                технологических узлов сооружений очистки:
                проверка параметров работы очистных
                сооружений: производительность очистных
                сооружений, насосов, дозаторов, правильность
                автоматизации, степень износа узлов и
                агрегатов, возможность работы в разных
                режимах и с разной нагрузкой.
              </li>
              <li>
                Анализ существующей технологической схемы
                очистки сточных вод с оценкой эффективности
                работы. Анализ результатов лабораторных
                исследований сточных вод на всех этапах
                технологии очистки.
              </li>
              <li>
                Определение причин неудовлетворительной
                работы очистных сооружений.
              </li>
              <li>
                Разработка мероприятий, технических решений
                по достижению требуемой эффективности работы
                очистных сооружений необходимых для
                соблюдения норм ПДК (предельно-допустимых
                концентраций) в водах водных объектов
                рыбохозяйственного значения (Приказ
                Минсельхоза России от 13.12.2016 N 552), с
                перспективой повышения эффективности работы
                очистных сооружений и достижения нормативов
                допустимых сбросов (приложение № 2).
              </li>
              <li>
                Выдача рекомендаций по повышению
                эффективности работы существующих
                сооружений, предложений и мероприятий по
                реконструкции (модернизации).
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="proj-ben__circle pben-circle">
        <div
          class="pben-circle__base"
          style="
            background-image: url('./img/proj/slides/circ1.webp');
          "
        >
          <div
            class="pben-circle__orbit pben-circle__orbit--inside"
          ></div>
          <div
            class="pben-circle__orbit pben-circle__orbit--outside"
          ></div>

          <!-- <img src="./img/proj/slides/circ1.webp" alt="" /> -->
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
        </div>
      </div>
    </div>
  </div>
</section>
