<section
  class="proj-hero proj-hero--nikel"
  style="background-image: url(./img/proj/hero.webp)"
>
  <div class="container">
    <div class="proj-hero__container">
      <div class="proj-hero__content">
        <div class="proj-hero__header">
          <h1 class="title4 proj-hero__title">
            Изготовление очистных сооружений<br />
            <span>для ООО «СПМ-инжиниринг»</span>
          </h1>
          <a href="#" class="link proj-hero__link">
            Отправить запрос
            <svg>
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>

        <div class="proj-hero__items">
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">СУТОЧНЫЙ РАСХОД СТОКОВ</div>
            <p class="prhe-item__text text text--thin">1200 м3/сутки</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">ТИП СТОКА</div>
            <p class="prhe-item__text text text--thin">Смешанный</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">ГОД РЕАЛИЗАЦИИ</div>
            <p class="prhe-item__text text text--thin">2019</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              ПРЕДЛОЖЕННЫЙ ТИП ОБОРУДОВАНИЯ
            </div>
            <p class="prhe-item__text text text--thin">
              Блок плоскостной загрузки (с крепежом из Ст3) производства АО
              «КРЕАЛ». Размеры блоков (L x B x H) мм: 3200 х 1700 х 1000
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
