<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2
        class="proj-obj__title capture"
        style="max-width: 91rem"
      >
        Название объекта:
        <span>
          Котельная «1-я Красногвардейская» принадлежащая
          ГУП «Топливно-энергетический комплекс
          Санкт-Петербурга» по адресу: г. Санкт-Петербурга,
          ул. Гранитная, д.12, лит. А.</span
        >
      </h2>

      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Поставленная задача:
        </div>
        <div class="proj-obj__desc text">
          <p>
            Поставка оборудования для модернизации
            существующей системы канализации котельной с
            целью очистки сточных вод, путем размещения
            новых очистных сооружений.
          </p>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Комплекс работ:
        </div>
        <div class="proj-obj__desc text">
          <ul>
            <li>
              <a href="#"
                >производство очистных сооружений</a
              >
            </li>
            <li>
              <a href="#">
                разработка проектной и конструкторской
                документации для систем водоочистки</a
              >
            </li>
            <li>
              <a href="#">
                монтаж и пусконаладка систем водоочистки
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
