<section class="proj-ben proj-ben--nikel">
  <div class="container">
    <div class="proj-ben__container">
      <div class="proj-ben__content">
        <div class="proj-ben__block">
          <h2 class="title2 proj-ben__title">
            Преимущества <span>технологии</span>
          </h2>
          <div class="text text--thin proj-ben__text">
            <p>
              Отличительной особенностью Креал является отсутствие типовых
              технологических решений - каждый объект рассматривается
              обособленно, с учетом его специфики и разрабатывается комплекс
              сооружений, обеспечивающих нормативную очистку сточных вод при
              минимальных капитальных и эксплуатационных затратах.
            </p>
          </div>
        </div>
        <div class="proj-ben__block">
          <p class="title4 proj-ben__title proj-ben__title--small">
            К основным преимуществам установки
            <span>КНС-БТФ-МОО относится следующее:</span>
          </p>
          <div class="text text--thin proj-ben__text">
            <ul>
              <li>
                эффективность очистки более 80% (что не ниже, чем на дисковых и
                песчаных фильтрах);
              </li>
              <li>
                постоянное использование в работе более 99% загрузки фильтра
                (отключение всего сооружения для промывки не требуется);
              </li>
              <li>снижение эксплуатационных затрат в десятки раз;</li>
              <li>
                экономия капитальных затрат в 2-3 раза (нет дополнительных
                сооружений и коммуникаций);
              </li>
              <li>
                сохранение территориальных ресурсов площадки очистных
                сооружений;
              </li>
              <li>
                гарантии и сервис от разработчика и производителя оборудования;
              </li>
              <li>высокий уровень автоматизации;</li>
              <li>производитель установки - российское предприятие.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="proj-ben__circle pben-circle">
        <div
          class="pben-circle__base"
          style="background-image: url('./../img/proj/slides/circ2.webp')"
        >
          <div class="pben-circle__orbit pben-circle__orbit--inside"></div>
          <div class="pben-circle__orbit pben-circle__orbit--outside"></div>

          <!-- <img src="./img/proj/slides/circ1.webp" alt="" /> -->
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
        </div>
      </div>
    </div>
  </div>
</section>
