<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span
          >Центральная станция аэрации города
          Санкт-Петербурга</span
        >
      </h2>

      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Поставленная задача:
        </div>
        <div
          class="proj-obj__desc proj-obj__desc--wide text"
        >
          <p>
            Целью работ являлся капитальный ремонт
            аэрационных систем аэротенков с заменой вышедших
            из строя трубчатых аэраторов, опорных
            конструкций для аэрационных модулей, фильтров на
            воздуховодах и межзонных технологических
            перегородок. Выполнение работ по ремонту
            обеспечило равномерное, предусмотренное
            технологической схемой очистки, распределение
            сточной жидкости по сооружениям, стабильную
            подачу воздуха в аэротенки и правильное
            распределение его по технологическим зонам. В
            итоге это позволило достичь установленных
            проектом показателей по глубокой биологической
            очистке сточных вод от азота и фосфора перед их
            сбросом в р. Нева.
          </p>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Комплекс работ:
        </div>
        <div class="proj-obj__desc text">
          <ul>
            <li>
              <a href="#"
                >производство очистных сооружений</a
              >
            </li>
            <li>
              <a href="#">
                разработка проектной и конструкторской
                документации для систем водоочистки</a
              >
            </li>
            <li>
              <a href="#">
                монтаж и пусконаладка систем водоочистки
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
