<section class="proj-ben proj-ben--oskom">
  <div class="container">
    <div class="proj-ben__container">
      <div class="proj-ben__content">
        <div class="proj-ben__block">
          <h2 class="title2 proj-ben__title">
            Преимущества <span>технологии</span>
          </h2>
          <div class="text text--thin proj-ben__text">
            <p>
              Отличительной особенностью Креал является
              отсутствие типовых технологических решений -
              каждый объект рассматривается обособленно, с
              учетом его специфики и разрабатывается
              комплекс сооружений, обеспечивающих
              нормативную очистку сточных вод при
              минимальных капитальных и эксплуатационных
              затратах.
            </p>
          </div>
        </div>
        <div class="proj-ben__block">
          <p
            class="title4 proj-ben__title proj-ben__title--small"
          >
            Выполнение пуско-наладочных работ силами
            <span
              >АО «КРЕАЛ» позволяет получить
              заказчику:</span
            >
          </p>
          <div class="text text--thin proj-ben__text">
            <ul>
              <li>
                Команду, имеющую опыт наладки систем очистки
                сточных вод любой сложности;
              </li>
              <li>
                Выполненные работы в заданных сроках,
                качестве и бюджете;
              </li>
              <li>
                Дальнейший сервис технологических процессов.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="proj-ben__circle pben-circle">
        <div
          class="pben-circle__base"
          style="
            background-image: url('./img/proj/slides/circ1.webp');
          "
        >
          <div
            class="pben-circle__orbit pben-circle__orbit--inside"
          ></div>
          <div
            class="pben-circle__orbit pben-circle__orbit--outside"
          ></div>

          <!-- <img src="./img/proj/slides/circ1.webp" alt="" /> -->
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
          <span class="pben-circle__sphere"></span>
        </div>
      </div>
    </div>
  </div>
</section>
