<section class="proj-ben proj-ben--nikel">
  <div class="container">
    <div class="proj-ben__container">
      <div class="proj-ben__content">
        <div class="proj-ben__block">
          <h2 class="title2 proj-ben__title">
            Преимущества <span>технологии</span>
          </h2>
          <div class="text text--thin proj-ben__text">
            <p>
              Отличительной особенностью Креал является отсутствие типовых
              технологических решений - каждый объект рассматривается
              обособленно, с учетом его специфики и разрабатывается комплекс
              сооружений, обеспечивающих нормативную очистку сточных вод при
              минимальных капитальных и эксплуатационных затратах.
            </p>
          </div>
        </div>
        <div class="proj-ben__block">
          <p class="title4 proj-ben__title">
            К основным преимуществам установки
            <span>КНС-БТФ-МОО относится следующее:</span>
          </p>
          <div class="text text--thin proj-ben__text">
            <ul>
              <li>малые габариты;</li>
              <li>удобство транспортировки;</li>
              <li>устойчивая эффективная работа в условиях Крайнего Севера;</li>
              <li>высокая сейсмоустойчивость (до 9 баллов);</li>
              <li>
                отсутствие потребности в тепло- и водоснабжении (электрообогрев
                воздуха помещений установки, использование очищенной воды на
                собственные технологические нужды);
              </li>
              <li>высокий уровень автоматизации;</li>
              <li>производитель установки - российское предприятие</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="proj-ben__circle pben-circle">
        <div class="pben-circle__base">
          <svg
            width="673"
            height="673"
            viewBox="0 0 673 673"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M340.078 662.738C407.002 662.035 472.094 640.783 526.538 601.858C580.982 562.933 622.148 508.216 644.462 445.117L454.145 377.815C445.628 401.9 429.914 422.785 409.132 437.643C388.351 452.501 363.505 460.614 337.959 460.882L340.078 662.738Z"
              fill="#DCECFF"
            />
            <path
              d="M648.087 434.24C668.172 370.397 668.15 301.924 648.026 238.093C627.902 174.263 588.647 118.159 535.578 77.379L412.578 237.446C432.835 253.012 447.819 274.427 455.5 298.792C463.182 323.156 463.19 349.293 455.524 373.663L648.087 434.24Z"
              fill="#DBE1E9"
            />
            <path
              d="M523.854 68.7787C469.022 30.4022 403.721 9.8039 336.793 9.77328C269.865 9.74266 204.545 30.2812 149.677 68.6075L265.277 234.098C286.22 219.469 311.154 211.629 336.7 211.641C362.247 211.652 387.173 219.515 408.103 234.163L523.854 68.7787Z"
              fill="#DCECFF"
            />
            <path
              d="M141.298 74.6507C87.6714 114.695 47.6468 170.252 26.6443 233.799C5.64184 297.346 4.67613 365.813 23.878 429.927L217.259 372.01C209.929 347.537 210.298 321.403 218.315 297.147C226.331 272.89 241.609 251.684 262.079 236.399L141.298 74.6507Z"
              fill="#DBE1E9"
            />
            <path
              d="M26.6216 438.642C47.61 502.193 87.6222 557.76 141.24 597.816C194.857 637.872 259.49 660.482 326.385 662.585L332.728 460.817C307.193 460.015 282.523 451.384 262.056 436.094C241.59 420.805 226.317 399.595 218.306 375.337L26.6216 438.642Z"
              fill="#DCECFF"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
