<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span
          >п. Мичуринское, Приозерский район, Ленинградская
          область</span
        >
      </h2>

      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Поставленная задача:
        </div>
        <div class="proj-obj__desc text">
          <ul>
            <li>
              Обеспечить нормативы качества воды водных
              объектов рыбохозяйственного значения, в том
              числе нормативов предельно-допустимых
              концентраций вредных веществ.
            </li>
            <li>
              Режим работы модульных очистных сооружений по
              очистке сточных вод круглосуточный,
              круглогодичный.
            </li>
            <li>
              Суточная производительность по сточным водам
              посёлка Мичуринское составляет - 400 м3/сут, с
              максимальным часовым расходом – 20 м3/час,
              Н=10 м. вод. ст.
            </li>
            <li>
              Основное и вспомогательное оборудование должно
              иметь сертификаты и разрешения на применение
              на территории РФ.
            </li>
          </ul>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Комплекс работ:
        </div>
        <div class="proj-obj__desc text">
          <ul>
            <li>
              <a href="#"
                >разработка проектной и конструкторской
                документации для систем водоочистки</a
              >
            </li>
            <li>
              <a href="#">
                производство очистных сооружений</a
              >
            </li>
            <li>
              <a href="#">
                монтаж и пусконаладка систем водоочистки
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
