<section
  class="proj-hero proj-hero--tekspb"
  style="background-image: url(./img/proj/hero.webp)"
>
  <div class="container">
    <div class="proj-hero__container">
      <div class="proj-hero__content">
        <div class="proj-hero__header">
          <h1 class="title4 proj-hero__title">
            Модернизация очистных для ГУП
            <span>«Топливно-энергетический комплекс Санкт-Петербурга»</span>
          </h1>
          <a href="#" class="link proj-hero__link">
            Отправить запрос
            <svg>
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>

        <div class="proj-hero__items">
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">СУТОЧНЫЙ РАСХОД СТОКОВ</div>
            <p class="prhe-item__text text text--thin">6 м3/сутки</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">ТИП СТОКА</div>
            <p class="prhe-item__text text text--thin">Смешанный</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">ГОД РЕАЛИЗАЦИИ</div>
            <p class="prhe-item__text text text--thin">2019</p>
          </div>
          <div class="proj-hero__item prhe-item">
            <div class="prhe-item__capture text">
              ПРЕДЛОЖЕННЫЙ ТИП ОБОРУДОВАНИЯ
            </div>
            <p class="prhe-item__text text text--thin">
              Блочно-модульные очистные сооружения типа БТФ-УХВО и БТФ-МОО
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
