<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span
          >«Сухонский КБК» по адресу:<br />Вологодская
          область, город Сокол</span
        >
      </h2>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Поставленная задача:
        </div>
        <div
          class="proj-obj__desc text"
          style="max-width: 66rem"
        >
          <ul>
            <li>
              Сбор дополнительных исходных данных по режиму
              образования сточных вод и качеству исходного
              стока
            </li>
            <li>Составление ведомости дефектов</li>
            <li>
              Оценка состояния существующих сооружений
            </li>
            <li>Анализ имеющих свободных площадей</li>
            <li>
              Сбор прочих исходных данных по оборудованию и
              технологии
            </li>
            <li>Отбор проб сточных вод</li>
            <li>Анализ полученных результатов</li>
            <li>
              Разработка основных принципиальных решений
              (ОПР)
            </li>
            <li>Составление отчета</li>
          </ul>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">
          Комплекс работ:
        </div>
        <div class="proj-obj__desc text">
          <ul>
            <li>
              <a href="#"
                >обследование очистных сооружений</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
