<section class="proj-obj proj-obj--nikel">
  <div class="container proj-obj__wrapper">
    <div class="proj-obj__heading">
      <h2 class="proj-obj__title capture">
        Название объекта:
        <span
          >«Башнефть». Обустройство нефтяного месторождения<br />им. А. Титова.
          Площадка ОБП. Комплекс очистки бытовых сточных вод</span
        >
      </h2>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Поставленная задача:</div>
        <div class="proj-obj__desc text">
          <p>
            Строительство комплекса модульных очистных сооружений для приема и
            глубокой очистки и обеззараживания хозяйственно-бытовых сточных вод.
          </p>
        </div>
      </div>
      <div class="proj-obj__block">
        <div class="desc proj-obj__capture">Комплекс работ:</div>
        <div class="proj-obj__desc text">
          <ul>
            <li><a href="#">производство очистных сооружений</a></li>
            <li>
              <a href="#">монтаж и пусконаладка систем водоочистки</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="proj-obj__container">
      <div class="proj-obj__slider research__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/proj/slides/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/proj/slides/04.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
