<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Модернизация <span>очистных сооружений</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="r-text__content">
            <p class="r-text__subtitle capture">
              При выборе поставщика услуги необходимо учитывать многие факторы.
              АО «КРЕАЛ» обладает всеми необходимыми преимуществами перед
              другими компаниями для выполнения данного вида работ:
            </p>
            <div class="r-text__items r-text__items--slim">
              <div class="r-item r-item--slim r-item--gray">
                Наличие релевантного опыта (смотрите референс-лист)
              </div>
              <div class="r-item r-item--slim r-item--gray">
                Применение фирмой оборудования и автоматики доступных на
                территории РФ
              </div>
              <div class="r-item r-item--slim r-item--gray">
                Наличие допусков, сертификатов, патентов
              </div>
              <div class="r-item r-item--slim r-item--gray">
                Наличие производственной базы, если необходимо будет
                изготавливать новые узлы очистки сточных вод
              </div>
            </div>
            <div class="r-text__text">
              <p class="r-text__subtitle capture">
                Признаки, указывающие на отклонение технологических режимов от
                проектных показателей:
              </p>
              <div class="text r-text__text r-text__desc">
                <ul>
                  <li>Стоки перестали соответствовать нормативам на сброс.</li>
                  <li>
                    Вырос расход реагентов, дозируемых в технологические
                    емкости.
                  </li>
                  <li>
                    Увеличилось потребление электрической энергии на
                    электрических механизмах.
                  </li>
                </ul>
                В отдельных случаях задачу помогает решить снижение нагрузки на
                очистные сооружения и уменьшение концентраций загрязняющих
                веществ в исходных стоках. Данный подход не всегда является
                технически возможным и тогда перед собственником объекта встает
                вопрос о необходимости технического перевооружения или полной
                реконструкции комплекса очистки сточных вод.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow">
        <img src="./img/research/arrow.webp" alt="" />
      </div>
    </div>
  </div>
</section>
