<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Модернизация <span>очистных сооружений</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="r-text__content">
            <p class="r-text__subtitle capture">
              При выборе поставщика услуги необходимо учитывать многие факторы.
              АО «КРЕАЛ» обладает всеми необходимыми преимуществами перед
              другими компаниями для выполнения данного вида работ:
            </p>
            <div class="r-text__items">
              <div class="r-item r-item--gray">
                Наличие релевантного опыта (смотрите референс-лист)
              </div>
              <div class="r-item r-item--gray">
                Применение фирмой оборудования и автоматики доступных на
                территории РФ
              </div>
              <div class="r-item r-item--gray">
                Наличие допусков, сертификатов, патентов
              </div>
              <div class="r-item r-item--gray">
                Наличие производственной базы, если необходимо будет
                изготавливать новые узлы очистки сточных вод
              </div>
            </div>
            <div class="r-text__text">
              <p class="r-text__subtitle capture">
                Признаки, указывающие на отклонение технологических режимов от
                проектных показателей:
              </p>
              <div class="text r-text__text r-text__desc">
                <ul>
                  <li>Стоки перестали соответствовать нормативам на сброс.</li>
                  <li>
                    Вырос расход реагентов, дозируемых в технологические
                    емкости.
                  </li>
                  <li>
                    Увеличилось потребление электрической энергии на
                    электрических механизмах.
                  </li>
                </ul>
                В отдельных случаях задачу помогает решить снижение нагрузки на
                очистные сооружения и уменьшение концентраций загрязняющих
                веществ в исходных стоках. Данный подход не всегда является
                технически возможным и тогда перед собственником объекта встает
                вопрос о необходимости технического перевооружения или полной
                реконструкции комплекса очистки сточных вод.
              </div>
            </div>
            <h2 class="title2 r-text__title">
              По результатам проведенной модернизации
              <span>заказчик получает:</span>
            </h2>
            <div class="text r-text__text r-text__desc">
              <ol>
                <li>
                  Уменьшение эксплуатационных затрат за счет установки более
                  энергоэффективного оборудования Снижение экологических рисков
                </li>
                <li>
                  Уменьшение эксплуатационных затрат за счет установки более
                  энергоэффективного оборудования Снижение экологических рисков
                </li>
              </ol>
            </div>
            <div class="blue-block r-text__blue">
              <p class="blue-block__desc">
                ВНИМАНИЕ!  Для объектов в Ленинградской области выезд наших
                специалистов для проведения консультаций и сбора исходных данных
                бесплатно.
              </p>

              <a href="#" class="btn btn-reset btn--white blue-block__btn"
                >Написать нам
                <svg
                  width="5"
                  height="10"
                  viewBox="0 0 5 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1L4 4.98596L1 9" stroke="white" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow"></div>
    </div>
  </div>
</section>
