<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Типы очистных сооружений по типу стоков,
          <span>которые обслуживает АО «КРЕАЛ»:</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="r-text__content r-text__content--mobr">
            <div class="r-text__items">
              <div class="r-item r-item--gray">Производственные</div>
              <div class="r-item r-item--gray">Поверхностные</div>
              <div class="r-item r-item--gray">Хозяйственно-бытовые</div>
              <div class="r-item r-item--gray">Смешанные</div>
            </div>
            <p class="desc r-text__desc r-text__text">
              Стоимость работ по сервисному обслуживанию зависит в первую
              очередь от состава оборудования, количества технологических линий
              по очистке сточных вод, а также степени автоматизации и
              комплектующий установленных в АСУ ТП. Сроки и цену работ по
              сервисному обслуживанию очистных сооружений определяют путем
              переговоров. Для каждого заказчика и его объекта вырабатывается
              индивидуальное решение по: объемам работ, графику сервисного
              обслуживания, распределение границ ответственности и схеме
              финансирования работ. Перед подписанием договора, составляется
              детальное техническое задание на сервисное обслуживание, которое
              является его неотъемлемой частью.
            </p>

            <div class="blue-block r-text__blue">
              <p class="blue-block__desc">
                <span>ВНИМАНИЕ!</span>Для объектов в Ленинградской области выезд
                наших специалистов для проведения консультаций и сбора исходных
                данных бесплатно.
              </p>

              <a href="#" class="btn btn-reset btn--white blue-block__btn"
                >Написать нам
                <svg
                  width="5"
                  height="10"
                  viewBox="0 0 5 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1L4 4.98596L1 9" stroke="white" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow">
        <img src="./img/research/arrow.webp" alt="" />
      </div>
    </div>
  </div>
</section>
