<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Монтаж и пусконаладка <span>систем водоочистки</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="">
            <div class="r-text__content">
              <div class="r-text__text">
                <p class="text r-text__desc">
                  Сборка на объекте отдельных блок-модулей в единый комплекс
                  очистных сооружений является ответственной частью проекта. На
                  этом этапе монтажные работы контролируются шеф-инженером АО
                  «КРЕАЛ», который контролирует правильность установки каждого
                  модуля в проектное положение. Проведение шефмонтажных работ
                  позволяет сэкономить на конечной стоимости проводимого
                  строительства очистных сооружений путем рационального
                  распределения этапов строительства и полного понимания
                  особенностей технологических процессов работы оборудования
                  опытными специалистами АО «КРЕАЛ». Нередко при монтаже «своими
                  силами» допускается целый ряд ошибок, которые приводят к
                  отклонению от установленных сроков монтажа, простою
                  оборудования, а в некоторых случаях невозможности запуска
                  смонтированных сооружений.
                </p>
                <br /><br />
                <p class="text r-text__capture r-text__capture--bold">
                  После сборки очистный сооружений выполняются работы по
                  внутренним трубопроводам, которые соединяются в единую
                  технологическую систему:
                </p>
                <ul class="text r-text__desc">
                  <li>Сточных вод;</li>
                  <li>Очищенной и обеззараженной сточной воды;</li>
                  <li>Воздуха;</li>
                  <li>Растворов реагентов;</li>
                  <li>Нитратного рецикла;</li>
                  <li>Промывочной воды;</li>
                  <li>Грязной промывочной воды.</li>
                </ul>
                <br /><br />
                <p class="text r-text__capture r-text__capture--bold">
                  По окончанию работ по трубопроводам производится подключение:
                </p>
                <ul class="text r-text__desc">
                  <li>Силовых электрических кабелей;</li>
                  <li>Системы освещения;</li>
                  <li>Электрических кабелей системы автоматики;</li>
                  <li>Сети связи;</li>
                  <li>Диспетчеризации;</li>
                  <li>Пожарно-охранной сигнализации.</li>
                </ul>
                <br /><br />
                <p class="text r-text__desc">
                  Монтажные и шеф-монтажные работы заканчиваются сдачей работ
                  заказчику с подписанием акта сдачи приемки. Далее начинается
                  этап пуско-наладочных работ.
                  <br /><br />
                  Пуско-наладочные работы являются заключительным этапом
                  строительства, реконструкции или модернизации очистных
                  сооружений. Главная задача их – достижение наилучших
                  стабильных показателей очистки сточных вод.
                  <br /><br />
                  В зависимости от сложности, расхода стоков и состава
                  оборудования очистных сооружений, программа пуско-наладочных
                  работ может длиться от 3 недель до 3 месяцев.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow"></div>
    </div>
  </div>
</section>
