<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          <span>Производство</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="">
            <div class="r-text__content r-text__content--long">
              <div class="r-text__flex">
                <div class="r-text__col">
                  <p class="desc">Производство №1</p>
                  <ul class="text r-text__desc r-text__list">
                    <li>
                      Блочно-модульные очистные сооружения полной заводской
                      готовности
                    </li>
                    <li>
                      Фильтры с плавающей загрузкой. Собственная запатентованная
                      разработка
                    </li>
                    <li>Насосные станции в блок-боксах</li>
                    <li>
                      Металлоконструкции транспортабельных контейнеров в
                      габаритах морских контейнеров Hight Cube от 10 до 40 футов
                    </li>
                    <li>
                      Металлические изделия для монтажа трубопроводов (хомуты,
                      кронштейны, узлы трубопроводов и т.д.)
                    </li>
                  </ul>
                </div>
                <div class="r-text__col">
                  <p class="desc">Производство №2</p>
                  <ul class="text r-text__desc r-text__list">
                    <li>Трубчатые аэраторы по собственному патенту и ТУ</li>
                    <li>Плоскостная загрузка для аэротенков и биореакторов</li>
                    <li>Шкафы автоматики</li>
                    <li>Шкафы силовые</li>
                    <li>Мешки для ила</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="r-text__content">
              <h2 class="title2 r-text__title">
                Производство позволяет выполнять
                <span>полный цикл выпуска продукции</span>
              </h2>
              <div class="r-text__items r-text__items--wide">
                <div class="r-item r-item--once">
                  Разгрузка металла и комплектующих
                </div>
                <div class="r-item r-item--once r-item--gray">
                  Входной контроль
                </div>
                <div class="r-item r-item--once r-item--gray">Хранение</div>
                <div class="r-item r-item--once r-item--gray">Заготовка</div>
                <div class="r-item r-item--once r-item--gray">Гибка</div>
                <div class="r-item r-item--once r-item--gray">Сварка</div>
                <div class="r-item r-item--once r-item--gray">Покраска</div>
                <div class="r-item r-item--once r-item--gray">Сборка</div>
                <div class="r-item r-item--once r-item--gray">
                  Выходной контроль
                </div>
                <div class="r-item r-item--once r-item--gray">
                  Оформление документации
                </div>
                <div class="r-item r-item--once r-item--gray">Упаковка</div>
                <div class="r-item r-item--once r-item--gray">Погрузка</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow"></div>
    </div>
  </div>
</section>
