<section class="r-text r-text--center scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Разработка проектной и конструкторской
          <span> документации для систем водоочистки </span>
        </h2>
        <div class="r-text__wrapper">
          <div class="r-text__content">
            <div class="r-text__text">
              <p class="text r-text__desc r-text__desc--wd">
                Проектирование очистных сооружений требует высокой
                компетентности в области очистки сточных вод. Достижение
                нормативных показателей возможно только при учете и правильной
                интерпретации большого ряда факторов, влияющих на процесс
                очистки. Опыт наших специалистов позволяет проектировать как
                крупные городские, так и небольшие локальные очистные сооружения
                для очистки бытовых сточных вод, поверхностного стока, сточных
                вод промышленных предприятий, а также смешанного стока.
              </p>
            </div>

            <div class="blue-block r-text__blue">
              <p class="blue-block__desc">
                Предлагаем проектирование и поставку очистных сооружений сточных
                вод под задачу заказчика. Очистные сооружения поставляются на
                объект в виде блок-модулей полной заводской готовности.
              </p>

              <a href="#" class="btn btn-reset btn--white blue-block__btn"
                >Написать нам
                <svg
                  width="5"
                  height="10"
                  viewBox="0 0 5 10"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M1 1L4 4.98596L1 9" stroke="white" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow">
        <img src="./img/research/arrow.webp" alt="" />
      </div>
    </div>
  </div>
</section>
