<section class="r-text scroll-section">
  <div class="container">
    <div class="r-text__container">
      <div class="r-text__left">
        <h2 class="title2 r-text__title">
          Обследование <span>очистных сооружений</span>
        </h2>
        <div class="r-text__wrapper">
          <div class="scroll-section">
            <div class="r-text__content">
              <div class="r-text__text">
                <p class="text r-text__desc">
                  В ходе эксплуатации очистных сооружений могут появится
                  симптомы, которые показывают необходимость профессиональной
                  помощи в их обследовании:
                </p>
                <br />
                <ul class="text r-text__desc">
                  <li>Стоки перестали соответствовать нормативам на сброс.</li>
                  <li>
                    Вырос расход реагентов, дозируемых в технологические
                    емкости.
                  </li>
                  <li>
                    Увеличилось потребление электрической энергии на
                    электрических механизмах.
                  </li>
                </ul>
                <br />
                <p class="text r-text__desc">
                  Если на очистных сооружениях наблюдаются указанные выше
                  симптомы, то целесообразно привлечь специализированную
                  организацию. При выборе поставщика услуги «Обследование
                  очистных сооружений» необходимо учитывать следующие факторы:
                </p>
                <br />
                <ul class="text r-text__desc">
                  <li>Наличие релевантного опыта (смотрите референс-лист).</li>
                  <li>Наличие допусков, сертификатов, патентов.</li>
                  <li>
                    Применение фирмой оборудования и автоматики доступных на
                    территории РФ.
                  </li>
                  <li>
                    Наличие производственной базы, если необходимо будет
                    изготавливать новые узлы очистки сточных вод.
                  </li>
                </ul>

                <br />
                <p class="text r-text__desc">
                  Обследование очистных сооружений содержит последовательный
                  набор организационных и технических мероприятий.
                  <br />
                  Сроки и стоимость работ по обследованию очистных сооружений
                  определяют путем переговоров. Для каждого заказчика и его
                  объекта вырабатывается индивидуальное решение по: времени
                  проведения обследования, распределение границ ответственности
                  и схеме финансирования работ. Перед подписанием договора
                  составляется детальное техническое задание на обследование,
                  которое является его неотъемлемой частью.
                </p>
              </div>

              <div class="blue-block r-text__blue">
                <p class="blue-block__desc">
                  <span>ВНИМАНИЕ!</span> Для объектов в Ленинградской области
                  выезд наших специалистов для проведения консультаций и сбора
                  исходных данных бесплатный.
                </p>

                <a href="#" class="btn btn-reset btn--white blue-block__btn"
                  >Написать нам
                  <svg
                    width="5"
                    height="10"
                    viewBox="0 0 5 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M1 1L4 4.98596L1 9" stroke="white" />
                  </svg>
                </a>
              </div>
              <p class="r-text__capture text">
                Окончательная стоимость комплекса работ по обследованию очистных
                сооружений зависит от следующих факторов:
              </p>
              <div class="r-text__items">
                <div class="r-text__item r-item" data-fig="01">
                  <p class="text">
                    Количества, состава и производительности оборудования,
                    входящего в комплекс очистных сооружений
                  </p>
                </div>
                <div class="r-text__item r-item" data-fig="02">
                  <p class="text">
                    Географической локация места проведения работ
                  </p>
                </div>
                <div class="r-text__item r-item" data-fig="03">
                  <p class="text">
                    Требований заказчика по детальной проверке каждого агрегата
                    или узла очистных сооружений
                  </p>
                </div>
                <div class="r-text__item r-item" data-fig="04">
                  <p class="text">
                    Количества необходимых анализов и удаленности лаборатории
                  </p>
                </div>
                <div class="r-text__item r-item" data-fig="05">
                  <p class="text">
                    Размера команды, требующейся для выезда на объект
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="r-text__arrow">
        <img src="./img/research/arrow.webp" alt="" />
      </div>
    </div>
  </div>
</section>
