<section class="request">
  <div class="container request__container">
    <div class="request__left">
      <h2 class="request__title title2">
        Направьте запрос
        <span>любым удобным Вам способом </span>
      </h2>

      <div class="request__info">
        <p>
          <span>В течение 1 часа Вы получите консультацию</span>
          и алгоритм дальнейших действий по ситуации для вашего объекта.
        </p>
      </div>
      <div class="request__row">
        <a href="#" class="request__item">
          <span></span>
          Телефонный звонок
        </a>
        <a href="#" class="request__item">
          <span></span>
          Онлайн форма
        </a>
        <a href="#" class="request__item">
          <span></span>
          Опросный лист
        </a>
      </div>

      <div class="request__arrow">
        <img src="./img/research/arrow-down.webp" alt="" />
      </div>
    </div>
    <div class="request__right req-equip">
      <div class="req-equip__content">
        <h4 class="req-equip__title">
          Оборудование компании <span>«КРЕАЛ»</span>
        </h4>
        <p class="text req-equip__desc">
          успешно эксплуатируется по всей территории России на десятках
          промышленных объектов, таких отраслей как:
        </p>
        <ul class="req-equip__list">
          <li>металлургия</li>
          <li>агропром</li>
          <li>нефтедобыча</li>
          <li>пищевая</li>
          <li>металлообработка</li>
          <li>энергетика</li>
          <li>производство бумаги целлюлозы, фанеры</li>
        </ul>
      </div>

      <div class="req-equip__order">
        <h4 class="req-equip__title">У нас можно <span>заказать</span></h4>
        <ul class="req-equip__list req-equip__list--nowrap">
          <li><a href="#">Решения по типу стоков (4)</a></li>
          <li><a href="#">Решения по типам очистки (6)</a></li>
          <li><a href="#">Продукция (9)</a></li>
          <li><a href="#">Отраслевые решения (12)</a></li>
        </ul>
      </div>

      <a href="#" class="request__btn btn btn-reset">
        Написать нам
        <svg class="">
          <use xlink:href="img/sprite.svg#arr-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
