<section class="research">
  <div class="block">
    <div class="container">
      <div class="block__container research__container">
        <div class="block__row research__row">
          <div class="block__left research__left">
            <h2 class="title2 research__title block__title">
              Производство <span>очистных сооружений</span>
            </h2>
            <p class="desc research__desc block__desc">
              АО «КРЕАЛ» - производственно-инжиниринговая компания,
              специализирующаяся на комплексных инженерных решениях в области
              очистки сточных вод. Компания работает с расходами сточных вод
              промышленной величины. В структуре фирмы две производственные
              площадки, располагающиеся в Санкт-Петербурге. Производство
              сформировано и укомплектовано необходимым оборудованием и станками
              для выпуска собственной продукции.
            </p>
            <a href="#" class="link research__link block__link">
              Читать полностью
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </a>
          </div>
          <div class="block__right">
            <a href="#" class="btn btn-reset btn--stroke research__btn">
              Заказать услугу

              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="research__slider block__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/research/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/research/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/research/03.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/research/01.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/research/02.webp" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="./img/research/03.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
