<section class="service-garant service">
  <div class="container">
    <div class="service-garant__content">
      <div class="service-garant__top">
        <h2 class="service-garant__title title2 centered">
          Наши <span>гарантии</span>
        </h2>
        <div class="service-garant__text">
          <p class="desc service-garant__desc">
            Мы работаем над решением вопросов очистки сточных вод и
            водоподготовки в партнерстве с Заказчиками, начиная с разработки
            рабочего проекта и заканчивая вводом в эксплуатацию с обязательным
            подтверждением качества очистки.
            <br />
            <br />
            Мы гарантируем, что предусмотренные проектом показатели качества
            очистки будут достигнуты, именно поэтому берем на себя наладку
            очистных сооружений. Будь то реконструкция существующих очистных
            сооружений или строительство новых: городских очистных сооружений
            коммунальных сточных вод, промышленных стоков или локального
            комплекса по очистке стоков вахтового поселка — самым надежным
            подходом является именно комплексный «под ключ», потому что так
            гарантировано будут достигнуты цели проекта, поставленные совместно
            с Заказчиком еще в начале реализации, в том числе окупаемость
            проекта.
          </p>
        </div>
      </div>
      <div class="service-garant__bottom">
        <p class="service-garant__capture">
          Индивидуальные технологические решения
        </p>
        <p class="desc service-garant__subcapture">
          Для очистки “нестандартных” стоков промышленных предприятий
        </p>
        <a href="#" class="btn btn-reset btn--stroke btn--blue">
          <span>Написать нам</span>
          <svg
            width="6"
            height="12"
            viewBox="0 0 6 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 1L5 5.98246L1 11" stroke="#307FE2" />
          </svg>
        </a>
      </div>
    </div>

    <div class="service__wrapper">
      <div class="service__wrap service__wrap--garant container">
        <div class="service-garant__content">
          <div class="service-garant__top">
            <h2 class="service-garant__title title2 centered">
              Наши <span>гарантии</span>
            </h2>
            <div class="service-garant__text">
              <p class="desc service-garant__desc">
                Мы работаем над решением вопросов очистки сточных вод и
                водоподготовки в партнерстве с Заказчиками, начиная с разработки
                рабочего проекта и заканчивая вводом в эксплуатацию с
                обязательным подтверждением качества очистки.
                <br />
                <br />
                Мы гарантируем, что предусмотренные проектом показатели качества
                очистки будут достигнуты, именно поэтому берем на себя наладку
                очистных сооружений. Будь то реконструкция существующих очистных
                сооружений или строительство новых: городских очистных
                сооружений коммунальных сточных вод, промышленных стоков или
                локального комплекса по очистке стоков вахтового поселка — самым
                надежным подходом является именно комплексный «под ключ», потому
                что так гарантировано будут достигнуты цели проекта,
                поставленные совместно с Заказчиком еще в начале реализации, в
                том числе окупаемость проекта.
              </p>
            </div>
          </div>
          <div class="service-garant__bottom">
            <p class="service-garant__capture">
              Индивидуальные технологические решения
            </p>
            <p class="desc service-garant__subcapture">
              Для очистки “нестандартных” стоков промышленных предприятий
            </p>
            <a href="#" class="btn btn-reset btn--stroke btn--blue">
              <span>Написать нам</span>
              <svg
                width="6"
                height="12"
                viewBox="0 0 6 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1 1L5 5.98246L1 11" stroke="#307FE2" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
