<section class="service">
  <div class="container">
    <h2 class="service__title title2 centered">Услуги</h2>
    <div class="service__container">
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">01</span>
        <p class="service-item__text capture">
          Обследование очистных сооружений
        </p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">02</span>
        <p class="service-item__text capture">
          Разработка проектной и конструкторской документации
        </p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">03</span>
        <p class="service-item__text capture">
          Производство очистных сооружений
        </p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">04</span>
        <p class="service-item__text capture">Монтаж и пусконаладка</p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">05</span>
        <p class="service-item__text capture">
          Сервисное обслуживание технологических процессов
        </p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">06</span>
        <p class="service-item__text capture">
          Модернизация очистных сооружений
        </p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
      <a href="#" class="service__item service-item">
        <span class="service-item__fig">07</span>
        <p class="service-item__text capture">Модельные испытания</p>
        <span class="service-item__link link">
          Подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </span>
      </a>
    </div>
    <div class="service__wrapper">
      <div class="service__wrap container">
        <h2 class="service__title title2 centered">Услуги</h2>
        <div class="service__container">
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">01</span>
            <p class="service-item__text capture">
              Обследование очистных сооружений
            </p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">02</span>
            <p class="service-item__text capture">
              Разработка проектной и конструкторской документации
            </p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">03</span>
            <p class="service-item__text capture">
              Производство очистных сооружений
            </p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">04</span>
            <p class="service-item__text capture">Монтаж и пусконаладка</p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">05</span>
            <p class="service-item__text capture">
              Сервисное обслуживание технологических процессов
            </p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">06</span>
            <p class="service-item__text capture">
              Модернизация очистных сооружений
            </p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
          <a href="#" class="service__item service-item">
            <span class="service-item__fig">07</span>
            <p class="service-item__text capture">Модельные испытания</p>
            <span class="service-item__link link">
              Подробнее
              <svg class="">
                <use xlink:href="img/sprite.svg#arr-right"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
