<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Трубчатые <span>аэраторы</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/05.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          Запатентованная
          <span> технология </span>
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="sp-block-hero__text text text--thin">
            В станции биологической очистки искусственно создаются условия для
            благоприятного развития микроорганизмов и режимов их максимальной
            продуктивности. Оптимальный состав популяций микроорганизмов и их
            концентраций обеспечивают наилучшие и сВт заабвиилсьинмыоес тпио
            коатз атели окочинсктркеит нсотйо кообвласти применения разделяют
            системы мелкопузырчатой и крупнопузырчатой аэрации Системы
            мелкопузырчатой аэрации применяются в сооружениях, где требуется
            эффективный массоперенос кислорода воздуха в водную среду: аэротенк,
            биотенк, биореактор, пруды для разведения рыбы и пр. Системы
            крупнопузырчатой аэрации применяются в сооружениях, где требуется
            эффективное перемешивание водной среды с минимальным
            энергопотреблением: усреднитель, аэробный стабилизатор и пр.
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
