<section class="sp-block-slider">
  <div class="container">
    <div class="sp-block-slider__container hor-scroll-container">
      <h2 class="title2 sp-block-slider__title">
        Преимущества нашего <span>оборудования</span>
      </h2>

      <div class="sp-block-slider__items hor-scroll">
        <div class="sp-block-slider__item sps-item">
          <div class="sps-item__fig">1</div>
          <div class="sps-item__icon">
            <img src="./img/sps/01.svg" alt="" />
          </div>
          <div class="sps-item__info">
            <span>Минимизация строительно-монтажных работ</span>
            за счет использования модульных установок заводского изготовления
          </div>
        </div>
        <div class="sp-block-slider__item sps-item">
          <div class="sps-item__fig">2</div>
          <div class="sps-item__icon">
            <img src="./img/sps/01.svg" alt="" />
          </div>
          <div class="sps-item__info">
            <span>Минимизация строительно-монтажных работ</span>
            за счет использования модульных установок заводского изготовления
          </div>
        </div>
        <div class="sp-block-slider__item sps-item">
          <div class="sps-item__fig">3</div>
          <div class="sps-item__icon">
            <img src="./img/sps/01.svg" alt="" />
          </div>
          <div class="sps-item__info">
            <span>Минимизация строительно-монтажных работ</span>
            за счет использования модульных установок заводского изготовления
          </div>
        </div>
        <div class="sp-block-slider__item sps-item">
          <div class="sps-item__fig">4</div>
          <div class="sps-item__icon">
            <img src="./img/sps/01.svg" alt="" />
          </div>
          <div class="sps-item__info">
            <span>Минимизация строительно-монтажных работ</span>
            за счет использования модульных установок заводского изготовления
          </div>
        </div>
        <div class="sp-block-slider__item sps-item">
          <div class="sps-item__fig">5</div>
          <div class="sps-item__icon">
            <img src="./img/sps/01.svg" alt="" />
          </div>
          <div class="sps-item__info">
            <span>Минимизация строительно-монтажных работ</span>
            за счет использования модульных установок заводского изготовления
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
