<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Блочно-модульные <span>очистные сооружения</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/sp-block/01.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          >25 лет
          <span> срок службы оборудования </span>
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <ul class="text text--thin">
            <li>Хозяйственно-бытовые сточные воды</li>
            <li>Поверхностные (ливневые) сточные воды</li>
            <li>Производственные сточные воды</li>
          </ul>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
