<section class="sp-block-chars">
  <div class="container">
    <div class="sp-block-chars__container">
      <div class="sp-block-chars__left">
        <div>
          <div class="sp-block-chars__header">
            <h2 class="sp-block-chars__title title2">
              Общие технические <span>характеристики</span>
            </h2>
            <p class="sp-block-chars__desc text text--thin">
              Блочно-модульные очистные сооружения выполнены
              в виде металлических утепленных модулей,
              размеры которых отвечают размерам морских
              контейнеров Hight Cube, что позволяет
              оперативно доставить и смонтировать сооружения
            </p>
          </div>

          <div class="sp-block-chars__heading">
            <p class="desc sp-block-chars__capture">
              Стандартные размеры и массы модулей
            </p>
            <p class="text text--thin sp-block-chars__desc">
              из которых могут состоять модульные очистные
              сооружения
            </p>
          </div>
        </div>

        <div class="sp-block-chars__img">
          <img src="./img/sp-block/02.webp" alt="" />

          <div
            class="sp-block-chars__circle sp-circ active"
          >
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name"
                >Контейнер 20-ft </span
              >
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 6.058 х 2.438 х 2.890
                мм</span
              >
            </div>
          </div>
          <div class="sp-block-chars__circle sp-circ">
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name"
                >Контейнер 40-ft</span
              >
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 12.192 х 2.438 х 2.890
                мм</span
              >
            </div>
          </div>
          <div class="sp-block-chars__circle sp-circ">
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name"
                >Контейнер 30-ft</span
              >
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 9.125 х 2.438 х 2.890
                мм</span
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="sp-block-hero__bottom sp-block-hero__bottom--mob"
      >
        <div class="sp-block-hero__link">
          <a href="#">Смотреть</a>
          полезные материалы
        </div>
        <a href="#" class="link sp-block-hero__cta"
          >Отправить заявку
          <svg class="">
            <use
              xlink:href="img/sprite.svg#arr-right"
            ></use>
          </svg>
        </a>
      </div>
      <div class="sp-block-chars__right">
        <div class="sp-block-chars__use sp-use">
          <div class="sp-use__capture capture2">
            Полезные материалы
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Презентация АО «КРЕАЛ»
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на очистные сооружения
              хозяйственно-бытовых стоков
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Презентация АО «КРЕАЛ» ОФ
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на встраиваемый фильтр с
              плавающей загрузкой
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на системы аэрации
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Референс-лист АО «КРЕАЛ»
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="sp-block-chars sp-block-chars--mob">
  <div class="container">
    <h2 class="sp-block-chars__title title2">
      Общие технические <span>характеристики</span>
    </h2>
    <div class="sp-block__inf spb-in">
      <div class="spb-in__title">Принцип работы</div>
      <p>
        Иловая смесь, поступающая во вторичный
        отстойник-фильтр, отстаивается в проточной зоне
        отстойника. Осадок (активный ил) илоскребом/илососом
        удаляется из отстойника, а осветленная вода
        фильтруется в направлении снизу вверх через
        плавающую загрузку фильтра с плавающей загрузкой
        (ФПЗ) и по радиальным лоткам отводится в сборный
        кольцевой лоток. Плавающая загрузка ФПЗ ограничена с
        боков вертикальными непроницаемыми стенками, а
        сверху и снизу – сетками. Очистка верхней сетки
        производится непрерывно кассетными щетками и
        периодически механизированной лотковой щеткой с
        электроприводом. Кассетные щетки расположены таким
        образом, чтобы ограничивать зону промывки ФПЗ для
        предотвращения поступления взвешенных веществ с
        грязной промывной водой в кольцевой лоток в период
        промывки фильтра. Эрлифт сбора плавающих веществ
        включается периодически по мере накопления
        плавающего ила и в случае развития водорослей (в
        летний период). Плавающие примеси откачиваются в
        центральный стакан отстойника. Плавающий ил
        образуется за счет биофлотации под действием газа (в
        основном, азота), выделяющегося в зоне осадка
        отстойника в силу протекающих там биологических
        процессов, в частности, денитрификации. Эрлифтная
        перекачка плавающего ила и гидравлические
        воздействия падающей струи в центральном стакане
        разрушают флотокомплексы ила (происходит дегазация
        ила), что приводит к его осаждению с последующим
        удалением из отстойника вместе с основной массой
        поступающего активного ила. Водоросли, способные
        развиваться на поверхности зеркала отстойника, имеют
        большой период генерации (несколько суток). Поэтому,
        для предотвращения их развития достаточно удалять
        плавающие примеси не реже 2-3 раз в неделю путем
        включения эрлифта на 1-2 оборота фермы
      </p>
    </div>
    <div class="sp-block__inf spb-in">
      <div class="spb-in__title">Процесс промывки</div>
      <p>
        Промывка загрузки ФПЗ производится в автоматическом
        режиме по заданному в АСУ алгоритму. Периодичность
        промывки (обычно, 1 раз за 1-2 суток) и ее
        длительность (обычно 1-2 оборота фермы) уточняются
        по результатам пуско-наладочных работ В период
        промывки включаются воздуходувка и насосы откачки
        грязной промывной воды (ГПВ). Через перфорированные
        аэрирующие трубы воздух поступает под загрузку и
        приводит ее в псевдоожиженное состояние. Под
        действием гидростатического давления, обусловленного
        перепадом уровней воды в отстойнике и фильтре (то
        есть потерями напора на фильтре) в зону аэрации
        загрузки устремляется поток осветленной воды,
        который выносит задержанные в теле фильтра
        взвешенные вещества в область над верхней сеткой
        фильтра. Из этой области грязная промывная вода
        собирается перфорированными сосунными трубами и
        насосами откачивается в центральный стакан
        отстойника. За счет образующихся при аэрации
        нисходящих потоков, часть взвешенных веществ
        выносится в область под нижней сеткой ФПЗ, оседает и
        удаляется из отстойника вместе с основной массой
        активного ила Промывка ФПЗ производится без останова
        подачи иловой смеси на отстойник-фильтр, так как при
        вращении фермы отстойника последовательно
        промываются очень небольшие зоны ФПЗ (площадь зоны,
        промываемой в каждый момент времени, составляет
        менее 1% площади ФПЗ), а основная часть ФПЗ (свыше
        99%) продолжает работать в режиме фильтрования
      </p>
    </div>

    <div class="spb-in__down">
      <img src="./img/arrow-down.webp" alt="" />
    </div>
  </div>
</section> -->
