<section class="sp-block-chars sp-block-chars--box">
  <div class="container">
    <div class="sp-block-chars__container sp-block-chars__container--slim">
      <div class="sp-block-chars__left">
        <div>
          <div class="sp-block-chars__header">
            <h2 class="sp-block-chars__title title2">
              Общие технические <span>характеристики</span>
            </h2>
          </div>

          <div class="sp-block-chars__type sp-block-type">
            <ol class="sp-block-type__list text text--thin">
              <li>Степень ответственности – III</li>
              <li>Класс конструктивной пожарной опасности – СО</li>
              <li>Степень огнестойкости – III</li>
              <li>Класс функциональной пожароопасности – Ф5.1</li>
            </ol>
            <p class="sp-block-type__capture capture centered">
              Условия эксплуатации блок-боксов
            </p>
            <div class="sp-block-type__img">
              <img src="./img/prod/solv/06.webp" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="sp-block-chars__right">
        <div class="sp-block-chars__use sp-use">
          <div class="sp-use__capture capture2">Полезные материалы</div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Презентация АО «КРЕАЛ»</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на очистные сооружения хозяйственно-бытовых стоков
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Презентация АО «КРЕАЛ» ОФ</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на встраиваемый фильтр с плавающей загрузкой
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на системы аэрации
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Референс-лист АО «КРЕАЛ»</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
