<section class="sp-block-kind">
  <div class="container">
    <div class="sp-block-kind__container">
      <div class="sp-block-kind__left">
        <div>
          <h2 class="title4 sp-block-kind__title">
            Виды и типы исполнения
            <span>Основные конкурентные преимущества</span>
          </h2>
          <div
            class="sp-block-kind__content text text--thin"
          >
            <ul>
              <li>Заводская готовность</li>
              <li>Простота перевозки</li>
              <li>Простота в монтаже</li>
              <li>Компактность очистных сооружений</li>
              <li>Сокращение санитарно-защитной зоны</li>
              <li>Сокращение эксплуатационных затрат</li>
              <li>
                Сокращение строительно-монтажных работ
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h2 class="title4 sp-block-kind__title">
            Диапазон <span>расходов</span>
          </h2>
          <div
            class="sp-block-kind__content text text--thin"
          >
            <p>
              Диапазон расходов хозяйственно-бытовых и
              производственных сточных вод: 3-1000 куб м в
              сутки. Возможно постепенное наращивание
              мощности очистных сооружений при ступенчатом
              увеличении объема стока или модернизации
              производства
            </p>
          </div>
        </div>
        <div>
          <h2 class="title4 sp-block-kind__title">
            Количество и компоновка <span>модулей</span>
          </h2>
          <div
            class="sp-block-kind__content sp-block-kind__content--short text text--thin"
          >
            <p>
              Количество и компоновка модулей определяются
              расходом, качеством исходного стока и
              нормативом на сброс
            </p>
          </div>
        </div>
        <div class="sp-block__mob">
          <div class="sp-block__down">
            <img src="./img/arrow-down.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="sp-block-kind__right">
        <div>
          <div class="sp-block-kind__capture capture2">
            Выгода заказчика
          </div>
          <div
            class="sp-block-kind__content sp-block-kind__content--short text text--thin"
          >
            <ol>
              <li>Малые габариты</li>
              <li>Удобство транспортировки</li>
              <li>
                Устойчивая эффективная работа в условиях
                Крайнего Севера
              </li>
              <li>
                Высокая сейсмоустойчивость (до 9 баллов)
              </li>
              <li>
                Отсутствие потребности в тепло- и
                водоснабжении (электрообогрев воздуха
                помещений установки, использование очищенной
                воды на собственные технологические нужды)
              </li>
              <li>Высокий уровень автоматизации</li>
              <li>
                Производитель установки - российское
                предприятие
              </li>
            </ol>
          </div>
        </div>
        <a
          href="#"
          class="btn btn-reset sp-block-kind__btn"
        >
          Хочу весь кейс
        </a>
      </div>

      <div class="sp-block-kind__arr">
        <img src="./img/sp-block/arr2.webp" alt="" />
      </div>
    </div>
  </div>
</section>
