<section class="sp-block-chars sp-block-chars--filt">
  <div class="container">
    <div
      class="sp-block-chars__container sp-block-chars__container--slim"
    >
      <div class="sp-block-chars__left">
        <div class="sp-block-chars__header">
          <h2 class="sp-block-chars__title title2">
            Общие технические <span>характеристики</span>
          </h2>
        </div>
        <div class="sp-block-chars__tblock spb-tblock">
          <div class="spb-tblock__capture capture">
            Принцип работы
          </div>
          <p class="text text--thin spb-tblock__text">
            Иловая смесь, поступающая во вторичный
            отстойник-фильтр, отстаивается в проточной зоне
            отстойника. Осадок (активный ил)
            илоскребом/илососом удаляется из отстойника, а
            осветленная вода фильтруется в направлении снизу
            вверх через плавающую загрузку фильтра с
            плавающей загрузкой (ФПЗ) и по радиальным лоткам
            отводится в сборный кольцевой лоток. Плавающая
            загрузка ФПЗ ограничена с боков вертикальными
            непроницаемыми стенками, а сверху и снизу –
            сетками. Очистка верхней сетки производится
            непрерывно кассетными щетками и периодически
            механизированной лотковой щеткой с
            электроприводом. Кассетные щетки расположены
            таким образом, чтобы ограничивать зону промывки
            ФПЗ для предотвращения поступления взвешенных
            веществ с грязной промывной водой в кольцевой
            лоток в период промывки фильтра. Эрлифт сбора
            плавающих веществ включается периодически по
            мере накопления плавающего ила и в случае
            развития водорослей (в летний период). Плавающие
            примеси откачиваются в центральный стакан
            отстойника. Плавающий ил образуется за счет
            биофлотации под действием газа (в основном,
            азота), выделяющегося в зоне осадка отстойника в
            силу протекающих там биологических процессов, в
            частности, денитрификации. Эрлифтная перекачка
            плавающего ила и гидравлические воздействия
            падающей струи в центральном стакане разрушают
            флотокомплексы ила (происходит дегазация ила),
            что приводит к его осаждению с последующим
            удалением из отстойника вместе с основной массой
            поступающего активного ила. Водоросли, способные
            развиваться на поверхности зеркала отстойника,
            имеют большой период генерации (несколько
            суток). Поэтому, для предотвращения их развития
            достаточно удалять плавающие примеси не реже 2-3
            раз в неделю путем включения эрлифта на 1-2
            оборота фермы
          </p>
        </div>
        <div class="sp-block-chars__tblock spb-tblock">
          <div class="spb-tblock__capture capture">
            Процесс промывки
          </div>
          <p class="text text--thin spb-tblock__text">
            Промывка загрузки ФПЗ производится в
            автоматическом режиме по заданному в АСУ
            алгоритму. Периодичность промывки (обычно, 1 раз
            за 1-2 суток) и ее длительность (обычно 1-2
            оборота фермы) уточняются по результатам
            пуско-наладочных работ В период промывки
            включаются воздуходувка и насосы откачки грязной
            промывной воды (ГПВ). Через перфорированные
            аэрирующие трубы воздух поступает под загрузку и
            приводит ее в псевдоожиженное состояние. Под
            действием гидростатического давления,
            обусловленного перепадом уровней воды в
            отстойнике и фильтре (то есть потерями напора на
            фильтре) в зону аэрации загрузки устремляется
            поток осветленной воды, который выносит
            задержанные в теле фильтра взвешенные вещества в
            область над верхней сеткой фильтра. Из этой
            области грязная промывная вода собирается
            перфорированными сосунными трубами и насосами
            откачивается в центральный стакан отстойника. За
            счет образующихся при аэрации нисходящих
            потоков, часть взвешенных веществ выносится в
            область под нижней сеткой ФПЗ, оседает и
            удаляется из отстойника вместе с основной массой
            активного ила Промывка ФПЗ производится без
            останова подачи иловой смеси на
            отстойник-фильтр, так как при вращении фермы
            отстойника последовательно промываются очень
            небольшие зоны ФПЗ (площадь зоны, промываемой в
            каждый момент времени, составляет менее 1%
            площади ФПЗ), а основная часть ФПЗ (свыше 99%)
            продолжает работать в режиме фильтрования
          </p>
        </div>

        <div class="sp-block__mob sp-block__mob--nom">
          <div class="sp-block__down">
            <img src="./img/arrow-down.webp" alt="" />
          </div>
        </div>
      </div>

      <div class="sp-block-chars__right">
        <div class="sp-block-chars__use sp-use">
          <div class="sp-use__capture capture2">
            Полезные материалы
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Презентация АО «КРЕАЛ»
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на очистные сооружения
              хозяйственно-бытовых стоков
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Презентация АО «КРЕАЛ» ОФ
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на встраиваемый фильтр с
              плавающей загрузкой
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на системы аэрации
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Референс-лист АО «КРЕАЛ»
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
