<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Фильтры с плавающей<br /><span>загрузкой</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/02.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          >80%
          <span>эффективность очистки</span>
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="sp-block-hero__text text text--thin">
            Данное сооружение представляет собой фильтр с плавающей загрузкой
            (ФПЗ), встраиваемый в существующий вторичный отстойник любого типа
            (радиальный, горизонтальный, вертикальный)
            <br /><br />
            Предотвращает развитие водорослей и удаляет плавающий ил с
            поверхности отстойной зоны. Не требует дополнительных площадей и
            инженерных коммуникаций
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
