<section class="sp-block-steps sp-block-steps--filt">
  <div class="container">
    <div class="sp-block-steps__container">
      <div class="sp-block-steps__left">
        <h2 class="title2 sp-block-steps__title">
          Общие этапы изготовления и ввода
          <span>в эксплуатацию</span>
        </h2>

        <div
          class="sp-block-steps__circle spb-circle spb-circle__slider swiper"
        >
          <div class="spb-circle__circle">
            <span>01</span>
            <span>02</span>
          </div>
          <div class="swiper-wrapper">
            <div class="spb-circle__block swiper-slide">
              <div class="spb-circle__title desc">
                Вариант с проектированием
              </div>
              <div class="spb-circle__info text text--thin">
                <ul>
                  <li>Сбор и анализ исходных данных</li>
                  <li>
                    Разработка общих технических решений,
                    оценка капитальных затрат
                  </li>
                  <li>
                    Согласование общих технических решений с
                    Заказчиком
                  </li>
                  <li>Разработка проектной документации</li>
                  <li>
                    Согласование проектной документации с
                    Заказчиком
                  </li>
                  <li>
                    Прохождение государственной и/или
                    экологической экспертизы (при
                    необходимости)
                  </li>
                  <li>Разработка рабочей документации</li>
                  <li>Изготовление оборудования</li>
                  <li>Проверка оборудования на заводе</li>
                  <li>Доставка оборудования до объекта</li>
                  <li>Шеф-монтажные работы</li>
                  <li>Пуско-наладочные работы</li>
                </ul>
              </div>
            </div>
            <div class="spb-circle__block swiper-slide">
              <div class="spb-circle__title desc">
                Вариант с прямой поставкой (без
                проектирования)
              </div>
              <div class="spb-circle__info text text--thin">
                <ul>
                  <li>Сбор и анализ исходных данных</li>
                  <li>
                    Разработка общих технических решений,
                    расчет капитальных затрат
                  </li>
                  <li>
                    Согласование общих технических решений с
                    Заказчиком
                  </li>
                  <li>Изготовление оборудования</li>
                  <li>Проверка оборудования на заводе</li>
                  <li>Доставка оборудования до объекта</li>
                  <li>Шеф-монтажные работы</li>
                  <li>Пуско-наладочные работы</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sp-block-steps__right">
        <div>
          <div class="capture2 sp-block-steps__capture">
            Наша продукция реализована:
          </div>

          <div
            class="sp-block-steps__content text text--thin"
          >
            <ul>
              <li>
                Изготовление очистных для ПАО ГМК
                “Норильский никель”
              </li>
              <li>
                Изготовление очистных сооружений ООО “РН
                Стройиндустрия”
              </li>
              <li>
                Локальные очистные сооружения для АО “Илим
                гофра”
              </li>
              <li>
                Изготовление очистных для УФСИН России по
                Республике Карелия
              </li>
              <li>
                Изготовление очистных для по заказу
                администрации р-на “Усть-Алданский”
              </li>
            </ul>
          </div>
        </div>
        <div class="sp-block-steps__bottom">
          <a href="#" class="link sp-block-steps__link"
            >Подробнее
            <svg class="">
              <use
                xlink:href="img/sprite.svg#arr-right"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
