<section class="sp-block-chars sp-block-chars--stat">
  <div class="container">
    <div class="sp-block-chars__container">
      <div class="sp-block-chars__left">
        <div>
          <div class="sp-block-chars__header">
            <h2 class="sp-block-chars__title title2">
              Общие технические <span>характеристики</span>
            </h2>
          </div>

          <div class="sp-block-chars__heading">
            <p class="desc sp-block-chars__capture">
              Стандартные размеры и массы модулей
            </p>
            <p class="text text--thin sp-block-chars__desc">
              из которых могут состоять модульные очистные сооружения
            </p>
          </div>
        </div>

        <div class="sp-block-chars__img">
          <img src="./img/sp-block/02.webp" alt="" />

          <div class="sp-block-chars__circle sp-circ active">
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name">Контейнер 20-ft </span>
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 6.058 х 2.438 х 2.890 мм</span
              >
            </div>
          </div>
          <div class="sp-block-chars__circle sp-circ">
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name">Контейнер 40-ft</span>
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 12.192 х 2.438 х 2.890 мм</span
              >
            </div>
          </div>
          <div class="sp-block-chars__circle sp-circ">
            <span class="trigger"></span>

            <div class="sp-circ__info">
              <span class="text sp-circ__name">Контейнер 30-ft</span>
              <span class="text text--thin sp-circ__chars"
                >Размеры (LxBxH): 9.125 х 2.438 х 2.890 мм</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="sp-block-chars__right">
        <div class="sp-block-chars__use sp-use">
          <div class="sp-use__capture capture2">Полезные материалы</div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Презентация АО «КРЕАЛ»</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на очистные сооружения хозяйственно-бытовых стоков
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Презентация АО «КРЕАЛ» ОФ</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на встраиваемый фильтр с плавающей загрузкой
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">
              Опросный лист на системы аэрации
            </div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
          <div class="sp-use__item">
            <div class="sp-use__name desc">Референс-лист АО «КРЕАЛ»</div>
            <a href="#" class="sp-use__link">
              <img src="./img/download.svg" alt="" />
              Скачать PDF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
