<section class="sp-block-slider sp-block-slider--kan">
  <div class="container">
    <div
      class="sp-block-slider__container hor-scroll-container"
    >
      <h2 class="title2 sp-block-slider__title">
        Преимущества нашего <span>оборудования</span>
      </h2>
      <div class="sp-slider-swiper swiper">
        <div
          class="sp-block-slider__items swiper-wrapper hor-scroll"
        >
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">1</div>
            <div class="sps-item__icon">
              <img src="./img/sps/01.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Минимизация строительно-монтажных
                работ</span
              >
              за счет использования модульных установок
              заводского изготовления
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">2</div>
            <div class="sps-item__icon">
              <img src="./img/sps/02.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Максимально короткий срок реализации</span
              >
              за счет использования модульных установок
              заводского изготовления
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">3</div>
            <div class="sps-item__icon">
              <img src="./img/sps/03.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Сброс сточных вод в водный объект и,</span
              >
              как следствие, отказ от подключения к
              городскому коллектору
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">4</div>
            <div class="sps-item__icon">
              <img src="./img/sps/04.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Максимально короткий срок реализации
              </span>
              за счет параллельного проектирования и
              изготовления
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">5</div>
            <div class="sps-item__icon">
              <img src="./img/sps/05.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span>Поэтапная реализация бюджета</span>
              за счет постепенного наращивания мощности
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">6</div>
            <div class="sps-item__icon">
              <img src="./img/sps/06.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Сокращение санитарной защитной зоны
              </span>
              за счет применения модульных установок
              закрытого типа
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">7</div>
            <div class="sps-item__icon">
              <img src="./img/sps/07.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Получение дополнительного
                финансирования</span
              >
              за счет реализации государственных программ
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">8</div>
            <div class="sps-item__icon">
              <img src="./img/sps/08.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span>Выполнение работ под ключ,</span>
              начиная от проектирования и заканчивая вводом
              в эксплуатацию
            </div>
          </div>
          <div
            class="sp-block-slider__item swiper-slide sps-item"
          >
            <div class="sps-item__fig">9</div>
            <div class="sps-item__icon">
              <img src="./img/sps/09.svg" alt="" />
            </div>
            <div class="sps-item__info">
              <span
                >Сокращение эксплуатационных затрат
                объекта</span
              >
              за счет повторного использования очищенной
              воды (полив газонов и пр.)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
