<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Мешковая сушилка системы <span>водоочистки</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/07.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          Простота<br />
          конструкции
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="text text--thin sp-block-hero__text">
            Образующийся осадок (избыточный ил, осадок из первичных отстойников,
            флотопена и флотатора) на очистных сооружениях подается на мешковую
            сушилку, а именно – в мешочный фильтр, где под действием гравитации
            избыточная вода фильтруется через нетканный материал После того, как
            осадок отдаст избыточную влагу, мешок снимается и утилизируется
            Мешковая сушилка предназначена для обезвоживания избыточного ила,
            осадков из первичных отстойников и флотопенов от флотаторов
            промышленных и хозяйственно бытовых сточных вод. Применяется на
            очистных сооружениях небольшой мощности Оборудование можно применять
            как при строительстве новых очистных сооружений, так и при
            реконструкции существующих
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
