<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Мешковая сушилка для
          <span>обезвоживания осадка</span>
        </h2>
        <div class="sp-block-hero__img">
          <div class="prod-items__arr">
            <svg
              viewBox="0 0 589 507"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="arr-container"
            >
              <defs>
                <mask id="msk2">
                  <path
                    class="arr1"
                    d="M19 24L293.533 244L570 24"
                    stroke="white"
                    stroke-width="60"
                  />
                  <path
                    class="arr2"
                    d="M19 138L293.533 358L570 138"
                    stroke="white"
                    stroke-width="60"
                  />
                  <path
                    class="arr3"
                    d="M19 248L293.533 468L570 248"
                    stroke="white"
                    stroke-width="60"
                  />
                </mask>
              </defs>

              <image
                class="mask-arr"
                mask="url(#msk2)"
                width="855"
                height="675"
                href="./img/prod/07.webp"
              ></image>
            </svg>
            <svg
              viewBox="0 0 589 507"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              class="anim-img"
            >
              <image
                width="855"
                height="675"
                href="./img/prod/07.webp"
              ></image>
            </svg>
          </div>
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          Простота<br />
          конструкции
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="text text--thin sp-block-hero__text">
            Жидкий осадок, образующийся в процессе очистки
            воды, поступает на мешковую сушилку
            <br />
            <br />
            Фугат, образующийся в процессе фильтрации,
            отводится в систему дренажа, а обезвоженный
            осадок вывозится к месту утилизации
            <br />
            <br />
            Мешковая сушилка предназначена для обезвоживания
            избыточного ила, осадков из первичных
            отстойников и флотопенов от флоторатов
            промышленных и хозяйственно-бытовых сточных вод.
            Применяется на очистных сооружениях небольшой
            мощности
            <br />
            <br />
            Оборудование можно применять как при
            строительстве новых очистных сооружений, так и
            приреконструкции существующих
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use
                xlink:href="img/sprite.svg#arr-right"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
