<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Модули приготовления<br /><span>и дозирования реагентов </span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/10.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          Простота<br />
          конструкции
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="sp-block-hero__text text text--thin">
            Установка приготовления реагентов (МПР) предназначена для
            приготовления и дозирования различных растворов реагентов
            (коагулянт, щелочь, флокулянт и пр.) в больших объемах
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
