<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Станции<br /><span>водоподготовки</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/07.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          Запатентованная
          <span> технология </span>
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="sp-block-hero__text text text--thin">
            Станции водоподготовки предназначены для очистки воды, подаваемой на
            хозяйственно-бытовые и производственные нужды
            <br /><br />
            Водоподготовка — устройство обработки исходной воды доступной на
            объекте, с целью доведения ее до качества в соответствии с задачами
            и требованиями потребителей, к которым она подается. Может
            предназначаться для какой-либо производственной технологии
            (промышленная или пищевая), нужд ЖКХ или объекта теплоэнергетики
            (котельная или ТЭЦ)
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
