<section class="sp-block-solv">
  <div class="container">
    <div class="sp-block-solv__container">
      <div class="sp-block-solv__content">
        <h2 class="title2 sp-block-solv__title">
          Конструктивные и объемно-планировочные <span>решения</span>
        </h2>
        <div class="sp-block-solv__content text text--thin">
          <ul>
            <li>
              Несущий остов установки выполнен из металлического профиля марки
              С245 в виде замкнутого пространственного каркаса
            </li>
            <li>
              Согласно требованиям ГОСТ 15150-69 климатическое исполнение
              оборудования, трубной обвязки и арматуры, расположенной внутри
              установки, относятся к категории ХЛ4, на открытом воздухе – ХЛ1
            </li>
            <li>
              Внутри установка обшита металлическим листом, снаружи – профильным
              листом с полимерным покрытием
            </li>
            <li>
              Для защиты от коррозии на поверхность металлоконструкций наносится
              три слоя антикоррозийной защиты. Все трубопроводы выполнены из
              нержавеющей стали, полипропилена, ПВХ
            </li>
            <li>
              Теплоизоляция установки выполнена по типу сэндвич-панелей с
              использованием минеральной ваты ROCKWOLL ЛАЙТ БАТТС толщина слоя
              на ограждающих конструкциях не менее 100 мм, на полу ипотолке – не
              менее 120 мм
            </li>
            <li>
              Все технологическое оборудование и трубопроводы, размещаемые
              внутри установки, надежно закреплены при помощи резьбовых и
              сварочных соединений
            </li>
          </ul>

          <div class="sp-block-solv__get desc">
            Хотите получить техническое решение?
          </div>
          <a href="#" class="btn btn-reset sp-block-solv__btn">
            Получить файл
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="sp-block-solv__arr">
        <img src="./img/sp-block/arr.webp" alt="" />
      </div>
    </div>
  </div>
</section>
