<section class="sp-block-hero">
  <div class="container">
    <div class="sp-block-hero__container">
      <div class="sp-block-hero__left">
        <h2 class="title2 sp-block-hero__title">
          Станция приема<br /><span>сточных вод</span>
        </h2>
        <div class="sp-block-hero__img">
          <img src="./img/prod/03.webp" alt="" />
        </div>
      </div>
      <div class="sp-block-hero__right">
        <div class="sp-block-hero__top">
          100%
          <span>компактность</span>
        </div>

        <div class="sp-block-hero__mid">
          <span class="capture2 sp-block-hero__capture"
            >Области применения:</span
          >

          <p class="text text--thin sp-block-hero__text">
            Станции предназначены для механической очистки приемных стоков и
            извлечения из них крупного мусора перед сбросом их в центральную
            систему канализации
            <br /><br />
            Станция приема сточных вод служит для приемки стоков от
            ассенизаторных машин, которые собирают их от населения из выгребных
            ям и из септиков индивидуальных домов
          </p>
        </div>

        <div class="sp-block-hero__bottom">
          <div class="sp-block-hero__link">
            <a href="#">Смотреть</a>
            комплект документации
          </div>
          <a href="#" class="link sp-block-hero__cta"
            >Отправить заявку
            <svg class="">
              <use xlink:href="img/sprite.svg#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
