<section class="survey-list">
  <div class="container survey-list__container">
    <div class="survey-list__left">
      <h2 class="survey-list__title title2">Опросные <span>листы</span></h2>

      <div class="survey-list__list sl-list">
        <div class="sl-list__title">Перечень опросных листов</div>
        <div class="sl-list__items">
          <a href="#" class="sl-list__item active">
            <div class="sl-list__name capture">
              Опросный лист на очистные сооружения хозяйственно-бытовых стоков
            </div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">
              Опросный лист на очистные сооружения поверхностных стоков
            </div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">
              Опросный лист на встраиваемый фильтр с плавающей загрузкой
            </div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">
              Опросный лист на системы аэрации
            </div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
          <a href="#" class="sl-list__item">
            <div class="sl-list__name capture">Опросный лист МАК</div>

            <div class="sl-list__check"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="survey-list__right">
      <div class="survey-list__top">
        <p class="text text--thin survey-list__text">
          Для Вашего удобства опросные листы представлены в интерактивной форме
          PDF. Вы можете заполнить их непосредственно в скачанном файле. После
          завершения заполнения нажмите кнопку «сохранить». Так же вы можете
          распечатать опросный лист и заполнить его вручную, после чего его
          необходимо отсканировать или сфотографировать.
        </p>
        <p class="text text--thin survey-list__text">
          Заполненный опросный лист отправить по адресу <a
            href="mailto:zakaz@kreal.spb.ru"
            >zakaz@kreal.spb.ru</a
          >
        </p>
      </div>

      <div class="survey-list__bottom">
        <div class="capture survey-list__capture">МЫ ВСЕГДА РАДЫ ПОМОЧЬ</div>
        <p class="text text--thin survey-list__text">
          В нашем портфеле предложений собраны только те решения, которые
          отвечают всем современным требованиям водоочистки
        </p>
        <a href="#" class="btn-reset btn survey-list__btn">
          Написать нам
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
