<section class="team-people">
  <div class="container">
    <div class="team-people__container">
      <h2 class="title2 title2--mob centered animate-title">
        <span>О нашей</span>
        <span class="high">команде</span>
      </h2>
      <div class="team-people__header">
        <h2 class="title3 team-people__title">Люди</h2>
        <p class="text text--thin team-people__text">
          Текст про нас на 2-3 строчки “ Каждый объект
          рассматривается индивидуально, с учетом его
        </p>
      </div>

      <div class="team-people__slider swiper">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/alexandr-kruchihin.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Александр Крючихин
              </p>
              <p class="team-p__spec desc desc--bold">
                Генеральный директор
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/alex-zaycev.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Алексей Зайцев
              </p>
              <p class="team-p__spec desc desc--bold">
                Главный технолог
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/alexcey-nikolaev.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Алексей Николаев
              </p>
              <p class="team-p__spec desc desc--bold">
                земгендира по научной работе. кандидат
                технических наук
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/anastasia-chernenko.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Анастасия Черненко
              </p>
              <p class="team-p__spec desc desc--bold">
                Специалист по кадрам
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/anna-haydarova.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Анна Хайдарова
              </p>
              <p class="team-p__spec desc desc--bold">
                Офис менеджер
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/anna-chernysh.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Анна Черныш
              </p>
              <p class="team-p__spec desc desc--bold">
                Инженер ПТО
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/vasiliy-akulaev.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Василий Акулаев
              </p>
              <p class="team-p__spec desc desc--bold">
                Ведущий конструктор
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/vladimir-kalendarev.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Владимир Календарев
              </p>
              <p class="team-p__spec desc desc--bold">
                специалист отдела снабжения
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/gleb-kerejtov.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Глеб Керейтов
              </p>
              <p class="team-p__spec desc desc--bold">
                Директор по развитию
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/darya-gorbunova.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Дарья Горбунова
              </p>
              <p class="team-p__spec desc desc--bold">
                Специалистпо тендерам
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/evgenij-anoshin.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Евгений Аношин
              </p>
              <p class="team-p__spec desc desc--bold">
                Ведущий специалист отдела снабжения
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/evgenij-muratov.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Евгений Муратов
              </p>
              <p class="team-p__spec desc desc--bold">
                Финансовый менеджер
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/ivan-pyrsikov.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Иван Пырсиков
              </p>
              <p class="team-p__spec desc desc--bold">
                Главный конструктор
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/ruslan-novikov.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Руслан Новиков
              </p>
              <p class="team-p__spec desc desc--bold">
                менеджер HR
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/svyatoslav-kuzmin.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Святослав Кузьмин
              </p>
              <p class="team-p__spec desc desc--bold">
                Руководитель отдела снабжения
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/tatyana-shurakova.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Татьяна Шуракова
              </p>
              <p class="team-p__spec desc desc--bold">
                Главный бухгалтер
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>

          <div
            class="swiper-slide team-people__slide team-p"
          >
            <div class="team-p__img">
              <img
                src="./img/team/yakubovskaya-svetlana.webp"
                alt=""
              />
            </div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">
                Якубовская Светлана
              </p>
              <p class="team-p__spec desc desc--bold">
                ЗАМГЕНДИРа по договорной и информационно
                аналитической работе
              </p>
            </div>

            <p class="team-p__desc desc">
              Информация о человеке
            </p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
