<section class="team-people">
  <div class="container">
    <div class="team-people__container">
      <div class="team-people__header">
        <h2 class="title3 team-people__title">Люди</h2>
        <p class="text text--thin team-people__text">
          Текст про нас на 2-3 строчки “ Каждый объект рассматривается
          индивидуально, с учетом его
        </p>
      </div>

      <div class="team-people__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
          <div class="swiper-slide team-people__slide team-p">
            <div class="team-p__img"></div>

            <div class="team-p__capture">
              <p class="team-p__name desc desc--bold">Анастасия Иванова</p>
              <p class="team-p__spec desc desc--bold">Специальность</p>
            </div>

            <p class="team-p__desc desc">Информация о человеке</p>
            <p class="team-p__desc desc">Стаж работы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
