<section class="team-car">
  <div class="container">
    <div class="team-car__container">
      <div class="team-car__left">
        <div class="team-car__content">
          <h2 class="title3 team-car__title">Карьера</h2>
          <p class="text text--thin team-car__text">
            Компания "Креал" с 1993 года успешно реализует
            проекты по разработке, изготовлению и поставке
            оборудования для комплексной очистки сточных вод
            на отечественных предприятиях и объектах ЖКХ.
            <br />
            <br />
            Располагая собственными производственными
            мощностями и высококвалифицированным
            научно-инженерным составом, мы выполняем весь
            спектр работ в области очистки сточных вод,
            начиная с обследования объектов, разработки
            проектной и рабочей документации и заканчивая
            изготовлением эффективного оборудования с
            последующими шеф-монтажными и пусконаладочными
            работами.
            <br /><br />
            Нашим экспертам и решениям доверяют такие
            компании, как: ПАО "ГМК "Норильский никель", ГУП
            "Леноблводоканал", ГУП "Водоканал
            Санкт-Петербурга", ООО "Тюмень Водоканал", ООО
            "Оренбург Водоканал", ФГУП ГСУ ФСИН России, ГУП
            "ТЭК Санкт-Петербурга", ОАО "НорильскГазпром" и
            другие.
          </p>
        </div>
        <div
          class="team-arrow__items team-arrow__items--mob"
        >
          <div class="team-arrow__item">Менеджер</div>
          <div class="team-arrow__item">Ассистент</div>
          <div class="team-arrow__item">Бухгалтер</div>
          <div class="team-arrow__item">Директор</div>
          <div class="team-arrow__item">Инженер</div>
          <div class="team-arrow__item">Инженер</div>
        </div>
        <div class="team-car__arrow team-arrow">
          <div class="team-arrow__arrow">
            <img src="./img/wave.webp" alt="" />
          </div>
          <div class="team-arrow__items">
            <div class="team-arrow__item">Менеджер</div>
            <div class="team-arrow__item">Инженер</div>
            <div class="team-arrow__item">Бухгалтер</div>
            <div class="team-arrow__item">Ассистент</div>
            <div class="team-arrow__item">Директор</div>
          </div>
        </div>
      </div>
      <div class="team-car__right">
        <div class="team-car__item">
          <div class="team-car__img">
            <img src="./img/team/01.webp" alt="" />
          </div>
          <div class="team-car__name desc desc--bold">
            Ассистент Директора по развитию
          </div>
        </div>
        <div class="team-car__item">
          <div class="team-car__img">
            <img src="./img/team/02.webp" alt="" />
          </div>
          <div class="team-car__name desc desc--bold">
            Инженер-конструктор
          </div>
        </div>
        <div class="team-car__item">
          <div class="team-car__img">
            <img src="./img/team/03.webp" alt="" />
          </div>
          <div class="team-car__name desc desc--bold">
            Менеджер проекта
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
